Teste_de_Web_Scraping.json
{
  "name": "Teste de Web Scraping",
  "nodes": [
    {
      "parameters": {},
      "id": "e0818743-5465-4174-ba67-d1be66b10598",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://autotic.com.br/loja",
        "options": {}
      },
      "id": "caa75ecf-ca1e-4db6-be18-4a8436fbcd4f",
      "name": "obtém html da pagina",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        260
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "imagem",
              "cssSelector": "img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            },
            {
              "key": "titulo",
              "cssSelector": "h2.woocommerce-loop-product__title",
              "returnArray": true
            },
            {
              "key": "link",
              "cssSelector": "a.woocommerce-LoopProduct-link.woocommerce-loop-product__link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "b44fbdb4-0d03-40a8-95fe-51a8a3ec212e",
      "name": "Extrai elementos do HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        760,
        260
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "imagem, titulo, link",
        "options": {}
      },
      "id": "d9e5cefd-ecc4-4d09-84e0-9c997a8371bb",
      "name": "Gera lista de itens",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        980,
        260
      ]
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "1d53504d-5ce7-47c7-8753-b6f5a8b39281",
      "name": "Limitando  a lista de itens",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1200,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$input.item.json.imagem = '<img src=\"' + $input.item.json.imagem + '\"></img>'\n$input.item.json.link = $input.item.json.link + '?id=123456'\n  \nreturn $input.item;"
      },
      "id": "f526de07-281f-4c78-975c-9f9b8c3c69b4",
      "name": "Gera imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "operation": "convertToHtmlTable",
        "options": {}
      },
      "id": "d62a60b6-8769-46d3-b67b-895f359d9d61",
      "name": "Gera tabela",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1640,
        260
      ]
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    {{ $json.table }}\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"
      },
      "id": "46ee9ba0-e431-4831-8729-10a3cf9ffbfb",
      "name": "Gera o html",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1860,
        260
      ]
    }
  ],
  "pinData": {
    "obtém html da pagina": [
      {
        "json": {
          "data": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n\t<meta charset=\"UTF-8\" />\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\t<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\" />\n\t<link rel=\"pingback\" href=\"https://autotic.com.br/xmlrpc.php\" />\n\t<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n<meta property=\"og:title\" content=\"Autotic\"/>\n<meta property=\"og:description\" content=\"Automação em Marketing Digital\"/>\n<meta property=\"og:image\" content=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic.png\"/>\n<meta property=\"og:image:width\" content=\"1920\"/>\n<meta property=\"og:image:height\" content=\"1080\"/>\n<meta property=\"og:type\" content=\"article\"/>\n<meta property=\"og:article:published_time\" content=\"2019-11-14 05:12:00\"/>\n<meta property=\"og:article:modified_time\" content=\"2021-11-24 10:51:06\"/>\n<meta name=\"twitter:card\" content=\"summary\">\n<meta name=\"twitter:title\" content=\"Autotic\"/>\n<meta name=\"twitter:description\" content=\"Automação em Marketing Digital\"/>\n<meta name=\"twitter:image\" content=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic.png\"/>\n\n\t<!-- This site is optimized with the Yoast SEO plugin v22.8 - https://yoast.com/wordpress/plugins/seo/ -->\n\t<title>Loja - Autotic</title>\n\t<link rel=\"canonical\" href=\"https://autotic.com.br/loja/\" />\n\t<meta property=\"og:url\" content=\"https://autotic.com.br/loja/\" />\n\t<meta property=\"og:site_name\" content=\"Autotic\" />\n\t<meta property=\"article:modified_time\" content=\"2022-08-21T00:01:53+00:00\" />\n\t<script type=\"application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https://schema.org\",\"@graph\":[{\"@type\":\"WebPage\",\"@id\":\"https://autotic.com.br/loja/\",\"url\":\"https://autotic.com.br/loja/\",\"name\":\"Loja - Autotic\",\"isPartOf\":{\"@id\":\"https://autotic.com.br/#website\"},\"primaryImageOfPage\":{\"@id\":\"https://autotic.com.br/loja/#primaryimage\"},\"image\":{\"@id\":\"https://autotic.com.br/loja/#primaryimage\"},\"thumbnailUrl\":\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic.png\",\"datePublished\":\"2016-01-24T09:08:33+00:00\",\"dateModified\":\"2022-08-21T00:01:53+00:00\",\"breadcrumb\":{\"@id\":\"https://autotic.com.br/loja/#breadcrumb\"},\"inLanguage\":\"pt-BR\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https://autotic.com.br/loja/\"]}]},{\"@type\":\"ImageObject\",\"inLanguage\":\"pt-BR\",\"@id\":\"https://autotic.com.br/loja/#primaryimage\",\"url\":\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic.png\",\"contentUrl\":\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic.png\",\"width\":1920,\"height\":1080},{\"@type\":\"BreadcrumbList\",\"@id\":\"https://autotic.com.br/loja/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Início\",\"item\":\"https://autotic.com.br/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Loja\"}]},{\"@type\":\"WebSite\",\"@id\":\"https://autotic.com.br/#website\",\"url\":\"https://autotic.com.br/\",\"name\":\"Autotic\",\"description\":\"Automação em Marketing Digital\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https://autotic.com.br/?s={search_term_string}\"},\"query-input\":\"required name=search_term_string\"}],\"inLanguage\":\"pt-BR\"}]}</script>\n\t<!-- / Yoast SEO plugin. -->\n\n\n<link rel='dns-prefetch' href='//static.addtoany.com' />\n<link rel='dns-prefetch' href='//fonts.googleapis.com' />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Feed para Autotic &raquo;\" href=\"https://autotic.com.br/feed/\" />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Feed de Autotic &raquo; Produtos\" href=\"https://autotic.com.br/loja/feed/\" />\n<script type=\"text/javascript\">\n/* <![CDATA[ */\nwindow._wpemojiSettings = {\"baseUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/15.0.3\\/72x72\\/\",\"ext\":\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/15.0.3\\/svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\":\"https:\\/\\/autotic.com.br\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=6.5.5\"}};\n/*! This file is auto-generated */\n!function(i,n){var o,s,e;function c(e){try{var t={supportTests:e,timestamp:(new Date).valueOf()};sessionStorage.setItem(o,JSON.stringify(t))}catch(e){}}function p(e,t,n){e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(t,0,0);var t=new Uint32Array(e.getImageData(0,0,e.canvas.width,e.canvas.height).data),r=(e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(n,0,0),new Uint32Array(e.getImageData(0,0,e.canvas.width,e.canvas.height).data));return t.every(function(e,t){return e===r[t]})}function u(e,t,n){switch(t){case\"flag\":return n(e,\"\\ud83c\\udff3\\ufe0f\\u200d\\u26a7\\ufe0f\",\"\\ud83c\\udff3\\ufe0f\\u200b\\u26a7\\ufe0f\")?!1:!n(e,\"\\ud83c\\uddfa\\ud83c\\uddf3\",\"\\ud83c\\uddfa\\u200b\\ud83c\\uddf3\")&&!n(e,\"\\ud83c\\udff4\\udb40\\udc67\\udb40\\udc62\\udb40\\udc65\\udb40\\udc6e\\udb40\\udc67\\udb40\\udc7f\",\"\\ud83c\\udff4\\u200b\\udb40\\udc67\\u200b\\udb40\\udc62\\u200b\\udb40\\udc65\\u200b\\udb40\\udc6e\\u200b\\udb40\\udc67\\u200b\\udb40\\udc7f\");case\"emoji\":return!n(e,\"\\ud83d\\udc26\\u200d\\u2b1b\",\"\\ud83d\\udc26\\u200b\\u2b1b\")}return!1}function f(e,t,n){var r=\"undefined\"!=typeof WorkerGlobalScope&&self instanceof WorkerGlobalScope?new OffscreenCanvas(300,150):i.createElement(\"canvas\"),a=r.getContext(\"2d\",{willReadFrequently:!0}),o=(a.textBaseline=\"top\",a.font=\"600 32px Arial\",{});return e.forEach(function(e){o[e]=t(a,e,n)}),o}function t(e){var t=i.createElement(\"script\");t.src=e,t.defer=!0,i.head.appendChild(t)}\"undefined\"!=typeof Promise&&(o=\"wpEmojiSettingsSupports\",s=[\"flag\",\"emoji\"],n.supports={everything:!0,everythingExceptFlag:!0},e=new Promise(function(e){i.addEventListener(\"DOMContentLoaded\",e,{once:!0})}),new Promise(function(t){var n=function(){try{var e=JSON.parse(sessionStorage.getItem(o));if(\"object\"==typeof e&&\"number\"==typeof e.timestamp&&(new Date).valueOf()<e.timestamp+604800&&\"object\"==typeof e.supportTests)return e.supportTests}catch(e){}return null}();if(!n){if(\"undefined\"!=typeof Worker&&\"undefined\"!=typeof OffscreenCanvas&&\"undefined\"!=typeof URL&&URL.createObjectURL&&\"undefined\"!=typeof Blob)try{var e=\"postMessage(\"+f.toString()+\"(\"+[JSON.stringify(s),u.toString(),p.toString()].join(\",\")+\"));\",r=new Blob([e],{type:\"text/javascript\"}),a=new Worker(URL.createObjectURL(r),{name:\"wpTestEmojiSupports\"});return void(a.onmessage=function(e){c(n=e.data),a.terminate(),t(n)})}catch(e){}c(n=f(s,u,p))}t(n)}).then(function(e){for(var t in e)n.supports[t]=e[t],n.supports.everything=n.supports.everything&&n.supports[t],\"flag\"!==t&&(n.supports.everythingExceptFlag=n.supports.everythingExceptFlag&&n.supports[t]);n.supports.everythingExceptFlag=n.supports.everythingExceptFlag&&!n.supports.flag,n.DOMReady=!1,n.readyCallback=function(){n.DOMReady=!0}}).then(function(){return e}).then(function(){var e;n.supports.everything||(n.readyCallback(),(e=n.source||{}).concatemoji?t(e.concatemoji):e.wpemoji&&e.twemoji&&(t(e.twemoji),t(e.wpemoji)))}))}((window,document),window._wpemojiSettings);\n/* ]]> */\n</script>\n<link rel='stylesheet' id='ctrumbowyg-css' href='https://autotic.com.br/wp-content/plugins/stm-post-type/theme-options/nuxy/metaboxes/assets/vendors/trumbowyg/ctrumbowyg.css?ver=6.5.5' type='text/css' media='all' />\n<link rel='stylesheet' id='color-trumbowyg-css' href='https://autotic.com.br/wp-content/plugins/stm-post-type/theme-options/nuxy/metaboxes/assets/vendors/trumbowyg/color-trumbowyg.css?ver=6.5.5' type='text/css' media='all' />\n<style id='wp-emoji-styles-inline-css' type='text/css'>\n\n\timg.wp-smiley, img.emoji {\n\t\tdisplay: inline !important;\n\t\tborder: none !important;\n\t\tbox-shadow: none !important;\n\t\theight: 1em !important;\n\t\twidth: 1em !important;\n\t\tmargin: 0 0.07em !important;\n\t\tvertical-align: -0.1em !important;\n\t\tbackground: none !important;\n\t\tpadding: 0 !important;\n\t}\n</style>\n<link rel='stylesheet' id='wp-block-library-css' href='https://autotic.com.br/wp-includes/css/dist/block-library/style.min.css?ver=6.5.5' type='text/css' media='all' />\n<style id='classic-theme-styles-inline-css' type='text/css'>\n/*! This file is auto-generated */\n.wp-block-button__link{color:#fff;background-color:#32373c;border-radius:9999px;box-shadow:none;text-decoration:none;padding:calc(.667em + 2px) calc(1.333em + 2px);font-size:1.125em}.wp-block-file__button{background:#32373c;color:#fff;text-decoration:none}\n</style>\n<style id='global-styles-inline-css' type='text/css'>\nbody{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}:where(.is-layout-grid){gap: 0.5em;}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}body .is-layout-grid{display: grid;}body .is-layout-grid > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}\n.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}\n:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}\n:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}\n.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}\n</style>\n<link rel='stylesheet' id='chaty-front-css-css' href='https://autotic.com.br/wp-content/plugins/chaty/css/chaty-front.min.css?ver=3.1.81707002398' type='text/css' media='all' />\n<link rel='stylesheet' id='contact-form-7-css' href='https://autotic.com.br/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.8.5' type='text/css' media='all' />\n<link rel='stylesheet' id='stm-stm-css' href='https://autotic.com.br/wp-content/uploads/stm_fonts/stm/stm.css?ver=1.0' type='text/css' media='all' />\n<link rel='stylesheet' id='wpfc-css' href='https://autotic.com.br/wp-content/plugins/gs-facebook-comments/public/css/wpfc-public.css?ver=1.7.3' type='text/css' media='all' />\n<link rel='stylesheet' id='dashicons-css' href='https://autotic.com.br/wp-includes/css/dashicons.min.css?ver=6.5.5' type='text/css' media='all' />\n<link rel='stylesheet' id='post-views-counter-frontend-css' href='https://autotic.com.br/wp-content/plugins/post-views-counter/css/frontend.min.css?ver=1.4.3' type='text/css' media='all' />\n<link rel='stylesheet' id='woocommerce-layout-css' href='https://autotic.com.br/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=8.4.0' type='text/css' media='all' />\n<link rel='stylesheet' id='woocommerce-smallscreen-css' href='https://autotic.com.br/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=8.4.0' type='text/css' media='only screen and (max-width: 768px)' />\n<link rel='stylesheet' id='woocommerce-general-css' href='https://autotic.com.br/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=8.4.0' type='text/css' media='all' />\n<style id='woocommerce-inline-inline-css' type='text/css'>\n.woocommerce form .form-row .required { visibility: visible; }\n</style>\n<link rel='stylesheet' id='hfe-style-css' href='https://autotic.com.br/wp-content/plugins/header-footer-elementor/assets/css/header-footer-elementor.css?ver=1.6.22' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-icons-css' href='https://autotic.com.br/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.25.0' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-frontend-css' href='https://autotic.com.br/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.18.3' type='text/css' media='all' />\n<link rel='stylesheet' id='swiper-css' href='https://autotic.com.br/wp-content/plugins/elementor/assets/lib/swiper/css/swiper.min.css?ver=5.3.6' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-post-11914-css' href='https://autotic.com.br/wp-content/uploads/elementor/css/post-11914.css?ver=1703934093' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-pro-css' href='https://autotic.com.br/wp-content/plugins/elementor-pro/assets/css/frontend.min.css?ver=3.15.0' type='text/css' media='all' />\n<link rel='stylesheet' id='font-awesome-5-all-css' href='https://autotic.com.br/wp-content/plugins/elementor/assets/lib/font-awesome/css/all.min.css?ver=3.18.3' type='text/css' media='all' />\n<link rel='stylesheet' id='font-awesome-4-shim-css' href='https://autotic.com.br/wp-content/plugins/elementor/assets/lib/font-awesome/css/v4-shims.min.css?ver=3.18.3' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-post-16187-css' href='https://autotic.com.br/wp-content/uploads/elementor/css/post-16187.css?ver=1714708838' type='text/css' media='all' />\n<link rel='stylesheet' id='hfe-widgets-style-css' href='https://autotic.com.br/wp-content/plugins/header-footer-elementor/inc/widgets-css/frontend.css?ver=1.6.22' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-post-16439-css' href='https://autotic.com.br/wp-content/uploads/elementor/css/post-16439.css?ver=1718908606' type='text/css' media='all' />\n<link rel='stylesheet' id='font-awesome-min-css' href='https://autotic.com.br/wp-content/plugins/stm-post-type/theme-options/nuxy/metaboxes/assets/vendors/font-awesome.min.css?ver=1719362899' type='text/css' media='all' />\n<link rel='stylesheet' id='woo-asaas-css' href='https://autotic.com.br/wp-content/plugins/woo-asaas/assets/woo-asaas.css?ver=2.2.0' type='text/css' media='all' />\n<link rel='stylesheet' id='bootstrap-css' href='https://autotic.com.br/wp-content/themes/consulting/assets/css/bootstrap.min.css?ver=6.5.4' type='text/css' media='all' />\n<link rel='stylesheet' id='font-awesome-css' href='https://autotic.com.br/wp-content/themes/consulting/assets/css/font-awesome.min.css?ver=6.5.4' type='text/css' media='all' />\n<link rel='stylesheet' id='consulting-style-css' href='https://autotic.com.br/wp-content/themes/consulting/style.css?ver=6.5.4' type='text/css' media='all' />\n<link rel='stylesheet' id='consulting-layout-css' href='https://autotic.com.br/wp-content/themes/consulting/assets/css/layouts/layout_los_angeles/main.css?ver=6.5.4' type='text/css' media='all' />\n<style id='consulting-layout-inline-css' type='text/css'>\n.mtc, .mtc_h:hover{\n\t\t\t\t\tcolor: #002e5b!important\n\t\t\t\t}.stc, .stc_h:hover{\n\t\t\t\t\tcolor: #6c98e1!important\n\t\t\t\t}.ttc, .ttc_h:hover{\n\t\t\t\t\tcolor: #fde428!important\n\t\t\t\t}.mbc, .mbc_h:hover, .stm-search .stm_widget_search button{\n\t\t\t\t\tbackground-color: #002e5b!important\n\t\t\t\t}.sbc, .sbc_h:hover{\n\t\t\t\t\tbackground-color: #6c98e1!important\n\t\t\t\t}.tbc, .tbc_h:hover{\n\t\t\t\t\tbackground-color: #fde428!important\n\t\t\t\t}.mbdc, .mbdc_h:hover{\n\t\t\t\t\tborder-color: #002e5b!important\n\t\t\t\t}.sbdc, .sbdc_h:hover{\n\t\t\t\t\tborder-color: #6c98e1!important\n\t\t\t\t}.tbdc, .tbdc_h:hover{\n\t\t\t\t\tborder-color: #fde428!important\n\t\t\t\t}#yt-subscribe a.yt-username{ color: #FFFFFF !important; } .woocommerce-checkout-review-order{ margin-bottom: 0px !important; } div.input-group .button.size-lg.icon_right{ width: inherit; } #footer{ margin-top: 50px !important; border-top: 7px solid #fdb933; } div.footer_logo{ margin-bottom: 10px !important; } ul#menu-sobre, ul#menu-suporte{ display: grid !important; margin-top: -20px !important; } ul#menu-sobre li, ul#menu-suporte li{ width: 100% !important; margin-bottom: 15px !important; } input#terms{ position: relative !important; } div.info_box_wrapper .info_box_text{ background: #4e5e9e !important; opacity: 0.8; } section#recent-posts-4 h4{ margin-bottom: 13px !important; } .staff_bottom_wr:before{ background-color: #f2f2f2 !important; } .staff_bottom, .staff_bottom h4{ color: #4e5e9e !important; } .vc_icon_element{ margin-bottom: 20px !important; } .stats_counter.style_2 .inner .no_stripe{ padding: 0px !important; padding-bottom: 20px !important; } button#mauticform_input_newsletter_submit{ width: 100%; } .mauticform-message{ color: #FFFFFF !important; } span.price_affix{ font-size: 35px !important; margin-right: 7px !important; } div#afilliate-button > a, div#affiliate-button-sidebar > a{ font-size: 24px !important; line-height: 1.5; } div.stm_label{ left: -70px !important; top: 35px !important; } div.stm_label span{ font-weight: 800; font-size: 16px; } a.vc_btn3.vc_btn3-color-juicy-pink{ background-color: #4e5e9e !important; } input.wpcf7-form-control, input.button.size-lg{ font-size:20px; } .wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required{ height: auto; } div#wpcf7-f4465-p4069-o1 label { color: #FFFFFF; font-size: 20px; } div#mauticform_testform_message{ color: green !important; } div.grecaptcha-badge{ display: none !important; } .vc_box_border.vc_box_border_violet, div#e-page-header{ background-color: #4e5e9e !important; } ul.tabs.wc-tabs li a{ color: #FFFFFF !important; } .tooltip-inner{ padding:5px !important; } a[title=\"demo\"]{ border: 2px solid #4e5e9e !important; border-radius: 5px; } a[title=\"demo\"]:hover{ border: 2px solid #fdb933 !important; } a.glink.nturl.notranslate{ padding-top: 4px !important; } div.header_socials{ padding-top: 16px !important; } @media only screen and (max-width: 640px){ #course-item-content-header .course-title a { display: none !important; } } #course-item-content-header .course-item-search button:after, #course-item-content-header .course-item-search input, #course-item-content-header .course-item-search input::placeholder{ color: #FFFFFF !important; } .e-course-thumbnail img{ width: 350px !important; height: 250px !important; padding-right: 30px !important; } div.progress-bg.lp-progress-bar, div.lp-passing-conditional{ top: 15px !important; } .course-thumbnail img{ width: 350px !important; height: 250px !important; } ul.learn-press-courses .course{ margin: 80px !important; } .learnpress-page .lp-button:hover{ background-color: #fdb933 !important; color: #FFFFFF !important; border: 3px solid #fdb933 !important; } @media only screen and (min-width: 1024px){ .testimonials_carousel .testimonial .info p { color: #888888; line-height: 30px !important; font-size: 18px; } } div#depoimentos p{ width: 70% !important; margin: 0 auto !important; } a[title=\"black-friday\"]{ border: 2px solid #000 !important; color: #FFF !important; background-color: #000 !important; border-radius: 5px; } a[title=\"black-friday\"]:hover{ border: 2px solid #fdb933 !important; color: #fdb933 !important; } div.vc_cta3-content > header > div > h2{ font-size: 30px !important; } div#recarga-integracoes{ text-align: -webkit-center; } div#recarga-integracoes .widget.widget_text .widget_title{ font-size: 30px !important; line-height: 1.2; } div#review{ text-align: center !important; } div.price span{ font-size: 30px !important; } div.stm_label{ padding:2px !important; } div.slotholder{ padding: 0px 0 !important; }\n</style>\n<link rel='stylesheet' id='select2-css' href='https://autotic.com.br/wp-content/themes/consulting/assets/css/select2.min.css?ver=6.5.4' type='text/css' media='all' />\n<link rel='stylesheet' id='header_builder-css' href='https://autotic.com.br/wp-content/themes/consulting/assets/css/header_builder.css?ver=6.5.4' type='text/css' media='all' />\n<link rel='stylesheet' id='consulting-default-font-css' href='https://fonts.googleapis.com/css?family=Ubuntu%3A300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic&#038;ver=6.5.4' type='text/css' media='all' />\n<link rel='stylesheet' id='stm-skin-custom-generated-css' href='https://autotic.com.br/wp-content/uploads/stm_uploads/skin-custom.css?ver=5884584' type='text/css' media='all' />\n<link rel='stylesheet' id='consulting-theme-options-css' href='https://autotic.com.br/wp-content/uploads/stm_uploads/theme_options.css?ver=6.5.4' type='text/css' media='all' />\n<link rel='stylesheet' id='consulting-global-styles-css' href='https://autotic.com.br/wp-content/themes/consulting/assets/css/layouts/global_styles/main.css?ver=6.5.4' type='text/css' media='all' />\n<style id='consulting-global-styles-inline-css' type='text/css'>\n\t\n\t\t.elementor-widget-video .eicon-play {\n\t\t\tborder-color: #FDB933;\n\t\t\tbackground-color: #FDB933;\n\t\t}\n\t\t.elementor-widget-wp-widget-nav_menu ul li,\n\t\t.elementor-widget-wp-widget-nav_menu ul li a {\n\t\t\tcolor: #002A5C;\n\t\t}\n\t\t.elementor-widget-wp-widget-nav_menu ul li.current-cat:hover > a,\n\t\t.elementor-widget-wp-widget-nav_menu ul li.current-cat > a,\n\t\t.elementor-widget-wp-widget-nav_menu ul li.current-menu-item:hover > a,\n\t\t.elementor-widget-wp-widget-nav_menu ul li.current-menu-item > a,\n\t\t.elementor-widget-wp-widget-nav_menu ul li.current_page_item:hover > a,\n\t\t.elementor-widget-wp-widget-nav_menu ul li.current_page_item > a,\n\t\t.elementor-widget-wp-widget-nav_menu ul li:hover > a {\n\t\t\tborder-left-color: #FDB933;\n\t\t}\n\t\tdiv.elementor-widget-button a.elementor-button,\n\t\tdiv.elementor-widget-button .elementor-button {\n\t\t\tbackground-color: #002A5C;\n\t\t}\n\t\tdiv.elementor-widget-button a.elementor-button:hover,\n\t\tdiv.elementor-widget-button .elementor-button:hover {\n\t\t\tbackground-color: #FDB933;\n\t\t\tcolor: #002A5C;\n\t\t}\n\t\t.elementor-default .elementor-text-editor ul:not(.elementor-editor-element-settings) li:before,\n\t\t.elementor-default .elementor-widget-text-editor ul:not(.elementor-editor-element-settings) li:before {\n\t\t\tcolor: #FDB933;\n\t\t}\n\t\t.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-mobile-title,\n\t\t.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title {\n\t\t\tbackground-color: #FDB933;\n\t\t}\n\t\t.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-mobile-title,\n\t\t.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title a {\n\t\t\tcolor: #002A5C;\n\t\t}\n\t\t.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-mobile-title.elementor-active,\n\t\t.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active {\n\t\t\tbackground-color: #002A5C;\n\t\t}\n\t\t.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-content-wrapper .elementor-tab-mobile-title.elementor-active,\n\t\t.consulting_elementor_wrapper .elementor-tabs .elementor-tabs-wrapper .elementor-tab-title.elementor-active a {\n\t\t\tcolor: #FDB933;\n\t\t}\n\t\t.radial-progress .circle .mask .fill {\n\t\t\tbackground-color: #FDB933;\n\t\t}\n\t\n\n\t\n\t:root {\n\t--con_base_color: #002A5C;\n\t--con_secondary_color: #FDB933;\n\t--con_third_color: #FDB933;\n\t--con_primary_font_family: Ubuntu;\n\t--con_secondary_font_family: Ubuntu;\n\t}\n\t\n\t:root {\n\t--con_top_bar_shadow_params: 0px 0px 0px 0px;--con_header_button_border_radius: 50px 50px 50px 50px;--con_header_button_text_transform: uppercase;--con_header_button_font_size: 14px;--con_header_button_mobile_text_transform: uppercase;--con_header_nav_menu_link_text_transform: normal;--con_header_nav_menu_link_color: #4e5e9e;--con_header_nav_menu_link_color_active: #FDB933;--con_header_nav_menu_link_color_hover: #FDB933;--con_header_nav_menu_level_1_link_text_transform: normal;--con_header_nav_menu_level_1_link_color: #002A5C;--con_header_nav_menu_level_1_link_color_hover: #FDB933;--con_header_nav_menu_level_1_link_bg_hover: #002A5C;--con_header_nav_menu_level_2_link_text_transform: normal;--con_header_mega_menu_title_transform: normal;--con_header_mega_menu_title_link_color: #002A5C;--con_header_mega_menu_title_link_color_hover: #FDB933;--con_header_mega_menu_description_color: rgba(6,6,6,1);--con_header_mega_menu_description_link_color_hover: #FDB933;--con_header_mega_menu_link_text_transform: normal;--con_header_mega_menu_link_text_color: #002A5C;--con_header_mega_menu_link_text_hover: rgba(210,30,30,1);--con_header_mega_menu_border_color: #FDB933;--con_header_mega_menu_icons_color: #002A5C;\t}\n\t\n\t:root {\n\t--con_title_box_bg_position: center center;--con_title_box_bg_attachment: scroll;--con_title_box_bg_size: cover;--con_title_box_bg_repeat: no-repeat;--con_title_box_title_color: #4e5e9e;--con_title_box_title_line_color: #fdb933;\t}\n\t\n</style>\n<link rel='stylesheet' id='stm_megamenu-css' href='https://autotic.com.br/wp-content/themes/consulting/inc/megamenu/assets/css/megamenu.css?ver=6.5.5' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-icons-ekiticons-css' href='https://autotic.com.br/wp-content/plugins/elementskit-lite/modules/elementskit-icon-pack/assets/css/ekiticons.css?ver=3.0.4' type='text/css' media='all' />\n<link rel='stylesheet' id='elementskit-parallax-style-css' href='https://autotic.com.br/wp-content/plugins/elementskit/modules/parallax/assets/css/style.css?ver=3.3.0' type='text/css' media='all' />\n<link rel='stylesheet' id='addtoany-css' href='https://autotic.com.br/wp-content/plugins/add-to-any/addtoany.min.css?ver=1.16' type='text/css' media='all' />\n<link rel='stylesheet' id='ekit-widget-styles-css' href='https://autotic.com.br/wp-content/plugins/elementskit-lite/widgets/init/assets/css/widget-styles.css?ver=3.0.4' type='text/css' media='all' />\n<link rel='stylesheet' id='ekit-widget-styles-pro-css' href='https://autotic.com.br/wp-content/plugins/elementskit/widgets/init/assets/css/widget-styles-pro.css?ver=3.3.0' type='text/css' media='all' />\n<link rel='stylesheet' id='ekit-responsive-css' href='https://autotic.com.br/wp-content/plugins/elementskit-lite/widgets/init/assets/css/responsive.css?ver=3.0.4' type='text/css' media='all' />\n<link rel='stylesheet' id='eael-general-css' href='https://autotic.com.br/wp-content/plugins/essential-addons-for-elementor-lite/assets/front-end/css/view/general.min.css?ver=5.9.3' type='text/css' media='all' />\n<link rel='stylesheet' id='google-fonts-1-css' href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CUbuntu%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=auto&#038;ver=6.5.5' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-icons-shared-0-css' href='https://autotic.com.br/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.15.3' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-icons-fa-regular-css' href='https://autotic.com.br/wp-content/plugins/elementor/assets/lib/font-awesome/css/regular.min.css?ver=5.15.3' type='text/css' media='all' />\n<link rel='stylesheet' id='elementor-icons-fa-brands-css' href='https://autotic.com.br/wp-content/plugins/elementor/assets/lib/font-awesome/css/brands.min.css?ver=5.15.3' type='text/css' media='all' />\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com/\" crossorigin><script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/jquery/jquery.min.js?ver=3.7.1\" id=\"jquery-core-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1\" id=\"jquery-migrate-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/lfb_frontend.min.js?ver=9.727\" id=\"lfb-frontend-js\"></script>\n<script type=\"text/javascript\" id=\"addtoany-core-js-before\">\n/* <![CDATA[ */\nwindow.a2a_config=window.a2a_config||{};a2a_config.callbacks=[];a2a_config.overlays=[];a2a_config.templates={};a2a_localize = {\n\tShare: \"Compartilhar\",\n\tSave: \"Salvar\",\n\tSubscribe: \"Inscrever\",\n\tEmail: \"Email\",\n\tBookmark: \"Favoritos\",\n\tShowAll: \"Mostrar tudo\",\n\tShowLess: \"Mostrar menos\",\n\tFindServices: \"Procurar serviço(s)\",\n\tFindAnyServiceToAddTo: \"Encontrar rapidamente qualquer serviço para\",\n\tPoweredBy: \"Serviço fornecido por\",\n\tShareViaEmail: \"Share via email\",\n\tSubscribeViaEmail: \"Subscribe via email\",\n\tBookmarkInYourBrowser: \"Adicionar aos favoritos\",\n\tBookmarkInstructions: \"Press Ctrl+D or \\u2318+D to bookmark this page\",\n\tAddToYourFavorites: \"Adicionar a favoritos\",\n\tSendFromWebOrProgram: \"Send from any email address or email program\",\n\tEmailProgram: \"Email program\",\n\tMore: \"More&#8230;\",\n\tThanksForSharing: \"Thanks for sharing!\",\n\tThanksForFollowing: \"Thanks for following!\"\n};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" async src=\"https://static.addtoany.com/menu/page.js\" id=\"addtoany-core-js\"></script>\n<script type=\"text/javascript\" async src=\"https://autotic.com.br/wp-content/plugins/add-to-any/addtoany.min.js?ver=1.1\" id=\"addtoany-jquery-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/gs-facebook-comments/public/js/wpfc-public.js?ver=1.7.3\" id=\"wpfc-js\"></script>\n<script type=\"text/javascript\" id=\"spbc_cookie-js-extra\">\n/* <![CDATA[ */\nvar spbcPublic = {\"_ajax_nonce\":\"2911209785\",\"_rest_nonce\":\"eebb413c35\",\"_ajax_url\":\"\\/wp-admin\\/admin-ajax.php\",\"_rest_url\":\"https:\\/\\/autotic.com.br\\/wp-json\\/\",\"data__set_cookies\":\"1\",\"data__set_cookies__alt_sessions_type\":\"0\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/security-malware-firewall/js/spbc-cookie.min.js?ver=2.132\" id=\"spbc_cookie-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.7.0-wc.8.4.0\" id=\"jquery-blockui-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" id=\"wc-add-to-cart-js-extra\">\n/* <![CDATA[ */\nvar wc_add_to_cart_params = {\"ajax_url\":\"\\/wp-admin\\/admin-ajax.php\",\"wc_ajax_url\":\"\\/?wc-ajax=%%endpoint%%\",\"i18n_view_cart\":\"Ver carrinho\",\"cart_url\":\"https:\\/\\/autotic.com.br\\/loja\\/carrinho\\/\",\"is_cart\":\"\",\"cart_redirect_after_add\":\"yes\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=8.4.0\" id=\"wc-add-to-cart-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4-wc.8.4.0\" id=\"js-cookie-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" id=\"woocommerce-js-extra\">\n/* <![CDATA[ */\nvar woocommerce_params = {\"ajax_url\":\"\\/wp-admin\\/admin-ajax.php\",\"wc_ajax_url\":\"\\/?wc-ajax=%%endpoint%%\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=8.4.0\" id=\"woocommerce-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementor/assets/lib/font-awesome/js/v4-shims.min.js?ver=3.18.3\" id=\"font-awesome-4-shim-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/themes/consulting/inc/megamenu/assets/js/megamenu.js?ver=6.5.5\" id=\"stm_megamenu-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit/modules/parallax/assets/js/jarallax.js?ver=3.3.0\" id=\"jarallax-js\"></script>\n<link rel=\"https://api.w.org/\" href=\"https://autotic.com.br/wp-json/\" /><link rel=\"EditURI\" type=\"application/rsd+xml\" title=\"RSD\" href=\"https://autotic.com.br/xmlrpc.php?rsd\" />\n<meta name=\"generator\" content=\"WordPress 6.5.5\" />\n<meta name=\"generator\" content=\"WooCommerce 8.4.0\" />\n<meta property=\"fb:app_id\" content=\"1190524001147309\" /><!-- Google Tag Manager -->\r\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\r\nnew Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\r\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\r\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\r\n})(window,document,'script','dataLayer','GTM-P7JFX3T');</script>\r\n<!-- End Google Tag Manager -->\n<script src=\"https://www.google.com/recaptcha/api.js\" async defer></script>\r\n\t<script type=\"text/javascript\">\n\t\tvar stm_wpcfto_ajaxurl = 'https://autotic.com.br/wp-admin/admin-ajax.php';\n\t</script>\n\n\t<style>\n\t\t.vue_is_disabled {\n\t\t\tdisplay: none;\n\t\t}\n\t</style>\n\t\t<script>\n\t\tvar stm_wpcfto_nonces = {\"wpcfto_save_settings\":\"3e5382bef6\",\"get_image_url\":\"1e88ebf693\",\"wpcfto_upload_file\":\"8829497632\",\"wpcfto_search_posts\":\"d64b3e7ca5\"};\n\t</script>\n\t\t\t<script type=\"text/javascript\">\n\t\t\tvar ajaxurl \t\t\t\t\t = 'https://autotic.com.br/wp-admin/admin-ajax.php';\n\t\t\tvar stm_ajax_load_events \t\t = '45155eeb14';\n\t\t\tvar stm_ajax_load_portfolio \t = '5763cbc09d';\n\t\t\tvar stm_ajax_add_event_member_sc = '0fb624245c';\n\t\t\tvar stm_custom_register \t\t = '9669930cba';\n\t\t\tvar stm_get_prices \t\t\t\t = '3751b28d29';\n\t\t\tvar stm_get_history \t\t\t = 'c5e54ac901';\n\t\t\tvar stm_ajax_add_review \t\t = '4a81f3c478';\n\t\t\tvar stm_ajax_add_pear_hb \t\t = '05ad15b619';\n\t\t</script>\n\t\t\t<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>\n\t<meta name=\"generator\" content=\"Elementor 3.18.3; features: e_dom_optimization, e_optimized_assets_loading, additional_custom_breakpoints, block_editor_assets_optimize, e_image_loading_optimization; settings: css_print_method-external, google_font-enabled, font_display-auto\">\n\n\t\t\t<script type=\"text/javascript\">\n\t\t\t\tvar elementskit_module_parallax_url = \"https://autotic.com.br/wp-content/plugins/elementskit/modules/parallax/\"\n\t\t\t</script>\n\t\t\t\t<style>\n\t\t\t#wp-admin-bar-consulting_settings\t\t\timg {\n\t\t\t\tmax-width: 25px;\n\t\t\t\tvertical-align: top;\n\t\t\t\tposition: relative;\n\t\t\t\ttop: 3px;\n\t\t\t}\n\t\t</style>\n\t\t<meta name=\"generator\" content=\"Powered by Slider Revolution 6.6.12 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.\" />\n<link rel=\"icon\" href=\"https://autotic.com.br/wp-content/uploads/2023/10/cropped-favicon-nova-autotic-32x32.png\" sizes=\"32x32\" />\n<link rel=\"icon\" href=\"https://autotic.com.br/wp-content/uploads/2023/10/cropped-favicon-nova-autotic-192x192.png\" sizes=\"192x192\" />\n<link rel=\"apple-touch-icon\" href=\"https://autotic.com.br/wp-content/uploads/2023/10/cropped-favicon-nova-autotic-180x180.png\" />\n<meta name=\"msapplication-TileImage\" content=\"https://autotic.com.br/wp-content/uploads/2023/10/cropped-favicon-nova-autotic-270x270.png\" />\n<script>function setREVStartSize(e){\r\n\t\t\t//window.requestAnimationFrame(function() {\r\n\t\t\t\twindow.RSIW = window.RSIW===undefined ? window.innerWidth : window.RSIW;\r\n\t\t\t\twindow.RSIH = window.RSIH===undefined ? window.innerHeight : window.RSIH;\r\n\t\t\t\ttry {\r\n\t\t\t\t\tvar pw = document.getElementById(e.c).parentNode.offsetWidth,\r\n\t\t\t\t\t\tnewh;\r\n\t\t\t\t\tpw = pw===0 || isNaN(pw) || (e.l==\"fullwidth\" || e.layout==\"fullwidth\") ? window.RSIW : pw;\r\n\t\t\t\t\te.tabw = e.tabw===undefined ? 0 : parseInt(e.tabw);\r\n\t\t\t\t\te.thumbw = e.thumbw===undefined ? 0 : parseInt(e.thumbw);\r\n\t\t\t\t\te.tabh = e.tabh===undefined ? 0 : parseInt(e.tabh);\r\n\t\t\t\t\te.thumbh = e.thumbh===undefined ? 0 : parseInt(e.thumbh);\r\n\t\t\t\t\te.tabhide = e.tabhide===undefined ? 0 : parseInt(e.tabhide);\r\n\t\t\t\t\te.thumbhide = e.thumbhide===undefined ? 0 : parseInt(e.thumbhide);\r\n\t\t\t\t\te.mh = e.mh===undefined || e.mh==\"\" || e.mh===\"auto\" ? 0 : parseInt(e.mh,0);\r\n\t\t\t\t\tif(e.layout===\"fullscreen\" || e.l===\"fullscreen\")\r\n\t\t\t\t\t\tnewh = Math.max(e.mh,window.RSIH);\r\n\t\t\t\t\telse{\r\n\t\t\t\t\t\te.gw = Array.isArray(e.gw) ? e.gw : [e.gw];\r\n\t\t\t\t\t\tfor (var i in e.rl) if (e.gw[i]===undefined || e.gw[i]===0) e.gw[i] = e.gw[i-1];\r\n\t\t\t\t\t\te.gh = e.el===undefined || e.el===\"\" || (Array.isArray(e.el) && e.el.length==0)? e.gh : e.el;\r\n\t\t\t\t\t\te.gh = Array.isArray(e.gh) ? e.gh : [e.gh];\r\n\t\t\t\t\t\tfor (var i in e.rl) if (e.gh[i]===undefined || e.gh[i]===0) e.gh[i] = e.gh[i-1];\r\n\t\t\t\t\t\t\t\t\t\t\t\r\n\t\t\t\t\t\tvar nl = new Array(e.rl.length),\r\n\t\t\t\t\t\t\tix = 0,\r\n\t\t\t\t\t\t\tsl;\r\n\t\t\t\t\t\te.tabw = e.tabhide>=pw ? 0 : e.tabw;\r\n\t\t\t\t\t\te.thumbw = e.thumbhide>=pw ? 0 : e.thumbw;\r\n\t\t\t\t\t\te.tabh = e.tabhide>=pw ? 0 : e.tabh;\r\n\t\t\t\t\t\te.thumbh = e.thumbhide>=pw ? 0 : e.thumbh;\r\n\t\t\t\t\t\tfor (var i in e.rl) nl[i] = e.rl[i]<window.RSIW ? 0 : e.rl[i];\r\n\t\t\t\t\t\tsl = nl[0];\r\n\t\t\t\t\t\tfor (var i in nl) if (sl>nl[i] && nl[i]>0) { sl = nl[i]; ix=i;}\r\n\t\t\t\t\t\tvar m = pw>(e.gw[ix]+e.tabw+e.thumbw) ? 1 : (pw-(e.tabw+e.thumbw)) / (e.gw[ix]);\r\n\t\t\t\t\t\tnewh =  (e.gh[ix] * m) + (e.tabh + e.thumbh);\r\n\t\t\t\t\t}\r\n\t\t\t\t\tvar el = document.getElementById(e.c);\r\n\t\t\t\t\tif (el!==null && el) el.style.height = newh+\"px\";\r\n\t\t\t\t\tel = document.getElementById(e.c+\"_wrapper\");\r\n\t\t\t\t\tif (el!==null && el) {\r\n\t\t\t\t\t\tel.style.height = newh+\"px\";\r\n\t\t\t\t\t\tel.style.display = \"block\";\r\n\t\t\t\t\t}\r\n\t\t\t\t} catch(e){\r\n\t\t\t\t\tconsole.log(\"Failure at Presize of Slider:\" + e)\r\n\t\t\t\t}\r\n\t\t\t//});\r\n\t\t  };</script>\n\t\t<style type=\"text/css\" id=\"wp-custom-css\">\n\t\t\t#yt-subscribe a.yt-username{\n   color: #FFFFFF !important;\n}\n.woocommerce-checkout-review-order{\n   margin-bottom: 0px !important;\n}\n\ndiv.input-group .button.size-lg.icon_right{\n   width: inherit;\n}\n\n#footer{\n   margin-top: 50px !important;\n   border-top: 7px solid #fdb933;\n}\n\ndiv.footer_logo{\n   margin-bottom: 10px !important;\n}\n\nul#menu-sobre, ul#menu-suporte{\n display: grid !important;\n margin-top: -20px !important;\n}\n\nul#menu-sobre li, ul#menu-suporte li{\n   width: 100% !important;\n   margin-bottom: 15px !important;\n}\n\ninput#terms{\n   position: relative !important;\n}\n\ndiv.info_box_wrapper .info_box_text{\n   background: #4e5e9e !important;\n   opacity: 0.8;\n}\n\nsection#recent-posts-4 h4{\n   margin-bottom: 13px !important;\n}\n\n.staff_bottom_wr:before{\n   background-color: #f2f2f2 !important;\n}\n\n.staff_bottom, .staff_bottom h4{\n   color: #4e5e9e  !important;\n}\n\n.vc_icon_element{\n   margin-bottom: 20px !important;\n}\n\n.stats_counter.style_2 .inner .no_stripe{\n   padding: 0px !important;\n   padding-bottom: 20px !important;\n}\n\nbutton#mauticform_input_newsletter_submit{\n width: 100%;\n}\n\n.mauticform-message{\n   color: #FFFFFF !important;\n}\n\nspan.price_affix{\n   font-size: 35px !important;\n   margin-right: 7px !important;\n}\n\ndiv#afilliate-button > a, div#affiliate-button-sidebar > a{\n   font-size: 24px !important;\n   line-height: 1.5;\n}\n\ndiv.stm_label{\n   left: -70px !important;\n   top: 35px !important;\n}\n\ndiv.stm_label span{\n   font-weight: 800;\n    font-size: 16px;\n}\n\na.vc_btn3.vc_btn3-color-juicy-pink{\n   background-color: #4e5e9e !important;\n}\n\ninput.wpcf7-form-control, input.button.size-lg{\n   font-size:20px;\n}\n\n.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required{\n   height: auto;\n}\n\ndiv#wpcf7-f4465-p4069-o1 label {\n   color: #FFFFFF;\n   font-size: 20px;\n}\n\ndiv#mauticform_testform_message{\n   color: green !important;\n}\n\ndiv.grecaptcha-badge{\n   display: none !important;\n}\n\n.vc_box_border.vc_box_border_violet, div#e-page-header{\n   background-color: #4e5e9e !important;\n}\n\nul.tabs.wc-tabs li a{\n   color: #FFFFFF !important;\n}\n\n.tooltip-inner{\n   padding:5px !important;\n}\n\na[title=\"demo\"]{\n   border: 2px solid #4e5e9e !important;\n   border-radius: 5px;\n}\n\na[title=\"demo\"]:hover{\n   border: 2px solid #fdb933 !important;\n}\n\na.glink.nturl.notranslate{\n   padding-top: 4px !important;\n}\n\ndiv.header_socials{\n   padding-top: 16px !important;\n}\n\n@media only screen and (max-width: 640px){\n\n#course-item-content-header .course-title a {\n   display: none !important;\n}\n\n}\n\n#course-item-content-header .course-item-search button:after,\n#course-item-content-header .course-item-search input,\n#course-item-content-header .course-item-search input::placeholder{\n   color: #FFFFFF !important;\n}\n\n.e-course-thumbnail img{\n   width: 350px !important;\n   height: 250px !important;\n   padding-right: 30px !important;\n}\n\ndiv.progress-bg.lp-progress-bar, div.lp-passing-conditional{\n   top: 15px !important;\n}\n\n.course-thumbnail img{\n   width: 350px !important;\n   height: 250px !important;\n}\n\nul.learn-press-courses .course{\n   margin: 80px !important;\n}\n\n.learnpress-page .lp-button:hover{\n   background-color: #fdb933 !important;\n   color: #FFFFFF !important;\n   border: 3px solid #fdb933 !important;\n}\n\n@media only screen and (min-width: 1024px){\n.testimonials_carousel .testimonial .info p {\n    color: #888888;\n    line-height: 30px !important;\n    font-size: 18px;\n}\n}\n\ndiv#depoimentos p{\n   width: 70% !important;\n   margin: 0 auto !important;\n}\n\na[title=\"black-friday\"]{\n   border: 2px solid #000 !important;\n   color: #FFF !important;\n   background-color: #000 !important;\n   border-radius: 5px;\n}\n\na[title=\"black-friday\"]:hover{\n   border: 2px solid #fdb933 !important;\n   color: #fdb933 !important;\n}\n\ndiv.vc_cta3-content > header > div > h2{\n  font-size: 30px !important;\n}\n\ndiv#recarga-integracoes{\n   text-align: -webkit-center;\n}\n\ndiv#recarga-integracoes .widget.widget_text .widget_title{\n   font-size: 30px !important;\n   line-height: 1.2;\n}\n\ndiv#review{\ntext-align: center !important;\n}\n\ndiv.price span{\n   font-size: 30px !important;\n}\n\ndiv.stm_label{\n  padding:2px !important;\n}\n\ndiv.slotholder{\n   padding: 0px 0 !important;\n}\n\nh1:after,h2:after,h3:after,h4:after,h5:after,h6:after{\n\tdisplay:none !important;\n}\n\n.stm_news .news_list li:hover .image a:before, .stm_news .news_list li .image a:after{\n\tdisplay:none !important;\n}\n\ndiv#main{\n\tpadding-top: 50px !important;\n}\t\t</style>\n\t\t</head>\n\n<body data-rsssl=1 class=\"archive post-type-archive post-type-archive-product theme-consulting woocommerce-shop woocommerce woocommerce-page woocommerce-no-js ehf-header ehf-footer ehf-template-consulting ehf-stylesheet-consulting site_layout_los_angeles  mobile_grid_landscape elementor-default elementor-kit-11914\">\n\n    <div id=\"wrapper\">\n\n        <div id=\"page\" class=\"hfeed site\">\n\n\t\t<header id=\"masthead\" itemscope=\"itemscope\" itemtype=\"https://schema.org/WPHeader\">\n\t\t\t<p class=\"main-title bhf-hidden\" itemprop=\"headline\"><a href=\"https://autotic.com.br\" title=\"Autotic\" rel=\"home\">Autotic</a></p>\n\t\t\t\t\t<div data-elementor-type=\"wp-post\" data-elementor-id=\"16187\" class=\"elementor elementor-16187\" data-elementor-post-type=\"elementor-hf\">\n\t\t\t\t\t\t\t\t\t<section class=\"elementor-section elementor-top-section elementor-element elementor-element-36b175f2 elementor-section-boxed elementor-section-height-default elementor-section-height-default\" data-id=\"36b175f2\" data-element_type=\"section\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}\">\n\t\t\t\t\t\t<div class=\"elementor-container elementor-column-gap-default\">\n\t\t\t\t\t<div class=\"elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-339b51c0\" data-id=\"339b51c0\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<div class=\"elementor-element elementor-element-5058c5c5 elementor-widget__width-auto elementor-widget elementor-widget-image\" data-id=\"5058c5c5\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"image.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"/\">\n\t\t\t\t\t\t\t<img width=\"1000\" height=\"250\" src=\"https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic.png\" class=\"attachment-full size-full wp-image-16360\" alt=\"\" srcset=\"https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic.png 1000w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-300x75.png 300w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-768x192.png 768w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-900x225.png 900w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-600x150.png 600w\" sizes=\"(max-width: 1000px) 100vw, 1000px\" />\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t<div class=\"elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-14bcc430\" data-id=\"14bcc430\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<div class=\"elementor-element elementor-element-3e9433e3 elementor-hidden-mobile elementor-widget elementor-widget-ekit-nav-menu\" data-id=\"3e9433e3\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"ekit-nav-menu.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<div class=\"ekit-wid-con ekit_menu_responsive_tablet\" data-hamburger-icon=\"icon icon-menu-button-of-three-horizontal-lines\" data-hamburger-icon-type=\"icon\" data-responsive-breakpoint=\"1024\">            <button class=\"elementskit-menu-hamburger elementskit-menu-toggler\"  type=\"button\" aria-label=\"hamburger-icon\">\n                <i aria-hidden=\"true\" class=\"ekit-menu-icon icon icon-menu-button-of-three-horizontal-lines\"></i>            </button>\n            <div id=\"ekit-megamenu-menu-novo-site\" class=\"elementskit-menu-container elementskit-menu-offcanvas-elements elementskit-navbar-nav-default ekit-nav-menu-one-page- ekit-nav-dropdown-click\"><ul id=\"menu-menu-novo-site\" class=\"elementskit-navbar-nav elementskit-menu-po-center submenu-click-on-icon\"><li id=\"menu-item-16194\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16194 nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/inicio/\" class=\"ekit-menu-nav-link\">Home</a></li>\n<li id=\"menu-item-16195\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16195 nav-item elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"#\" class=\"ekit-menu-nav-link ekit-menu-dropdown-toggle\">Soluções<i class=\"icon icon-down-arrow1 elementskit-submenu-indicator\"></i></a>\n<ul class=\"elementskit-dropdown elementskit-submenu-panel\">\n\t<li id=\"menu-item-16196\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16196 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/plano-customizado/\" class=\" dropdown-item\">VPS</a>\t<li id=\"menu-item-16197\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16197 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/smtp-dedicado-e-ilimitado/\" class=\" dropdown-item\">SMTP dedicado e Ilimitado</a>\t<li id=\"menu-item-24900\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-24900 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://uzapi.com.br/\" class=\" dropdown-item\">API do WhatsApp</a>\t<li id=\"menu-item-16199\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16199 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/consultoria/\" class=\" dropdown-item\">Consultoria</a>\t<li id=\"menu-item-26759\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-26759 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/trafego-pago/\" class=\" dropdown-item\">Tráfego Pago</a></ul>\n</li>\n<li id=\"menu-item-16200\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16200 nav-item elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"#\" class=\"ekit-menu-nav-link ekit-menu-dropdown-toggle\">Mautic<i class=\"icon icon-down-arrow1 elementskit-submenu-indicator\"></i></a>\n<ul class=\"elementskit-dropdown elementskit-submenu-panel\">\n\t<li id=\"menu-item-16201\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16201 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/manual-basico-do-mautic/\" class=\" dropdown-item\">Ebook &#8211; Mautic</a>\t<li id=\"menu-item-16202\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16202 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/teste-gratis/\" class=\" dropdown-item\">Mautic Grátis</a>\t<li id=\"menu-item-16203\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16203 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/planos/\" class=\" dropdown-item\">Planos Mautic</a>\t<li id=\"menu-item-16204\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16204 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/integracoes/\" class=\" dropdown-item\">Integrações Mautic</a></ul>\n</li>\n<li id=\"menu-item-16205\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16205 nav-item elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"#\" class=\"ekit-menu-nav-link ekit-menu-dropdown-toggle\">N8N<i class=\"icon icon-down-arrow1 elementskit-submenu-indicator\"></i></a>\n<ul class=\"elementskit-dropdown elementskit-submenu-panel\">\n\t<li id=\"menu-item-16206\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16206 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/plataforma-de-integracoes/\" class=\" dropdown-item\">Demonstração N8N</a></ul>\n</li>\n<li id=\"menu-item-16207\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16207 nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/cursos/\" class=\"ekit-menu-nav-link\">Cursos</a></li>\n<li id=\"menu-item-16213\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16213 nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/blog/\" class=\"ekit-menu-nav-link\">Blog</a></li>\n<li id=\"menu-item-26778\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-26778 nav-item elementskit-dropdown-has relative_position elementskit-dropdown-menu-default_width elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"#\" class=\"ekit-menu-nav-link ekit-menu-dropdown-toggle\">Contato<i class=\"icon icon-down-arrow1 elementskit-submenu-indicator\"></i></a>\n<ul class=\"elementskit-dropdown elementskit-submenu-panel\">\n\t<li id=\"menu-item-16214\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16214 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/contato/\" class=\" dropdown-item\">Fale Conosco</a>\t<li id=\"menu-item-16503\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16503 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/central-ajuda/\" class=\" dropdown-item\">Central de Ajuda</a>\t<li id=\"menu-item-16504\" class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-16504 stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default nav-item elementskit-mobile-builder-content\" data-vertical-menu=750px><a href=\"https://autotic.com.br/feedback/\" class=\" dropdown-item\">Feedback</a></ul>\n</li>\n</ul><div class=\"elementskit-nav-identity-panel\">\n\t\t\t\t<div class=\"elementskit-site-title\">\n\t\t\t\t\t<a class=\"elementskit-nav-logo\" href=\"https://autotic.com.br\" target=\"_self\" rel=\"\">\n\t\t\t\t\t\t<img width=\"1000\" height=\"250\" src=\"https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic.png\" class=\"attachment-full size-full\" alt=\"\" decoding=\"async\" srcset=\"https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic.png 1000w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-300x75.png 300w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-768x192.png 768w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-900x225.png 900w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-600x150.png 600w\" sizes=\"(max-width: 1000px) 100vw, 1000px\" />\n\t\t\t\t\t</a> \n\t\t\t\t</div><button class=\"elementskit-menu-close elementskit-menu-toggler\" type=\"button\">X</button></div></div>\t\t\t\n\t\t\t<div class=\"elementskit-menu-overlay elementskit-menu-offcanvas-elements elementskit-menu-toggler ekit-nav-menu--overlay\"></div></div>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-547c4e9 elementor-hidden-desktop elementor-hidden-tablet hfe-submenu-icon-arrow hfe-submenu-animation-none hfe-link-redirect-child hfe-nav-menu__breakpoint-tablet elementor-widget elementor-widget-navigation-menu\" data-id=\"547c4e9\" data-element_type=\"widget\" data-settings=\"{&quot;toggle_size_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:31,&quot;sizes&quot;:[]},&quot;padding_horizontal_menu_item&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:15,&quot;sizes&quot;:[]},&quot;padding_horizontal_menu_item_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;padding_horizontal_menu_item_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;padding_vertical_menu_item&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:15,&quot;sizes&quot;:[]},&quot;padding_vertical_menu_item_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;padding_vertical_menu_item_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;menu_space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;menu_space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;menu_space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;menu_row_space&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;menu_row_space_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;menu_row_space_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;dropdown_border_radius&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;top&quot;:&quot;&quot;,&quot;right&quot;:&quot;&quot;,&quot;bottom&quot;:&quot;&quot;,&quot;left&quot;:&quot;&quot;,&quot;isLinked&quot;:true},&quot;dropdown_border_radius_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;top&quot;:&quot;&quot;,&quot;right&quot;:&quot;&quot;,&quot;bottom&quot;:&quot;&quot;,&quot;left&quot;:&quot;&quot;,&quot;isLinked&quot;:true},&quot;dropdown_border_radius_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;top&quot;:&quot;&quot;,&quot;right&quot;:&quot;&quot;,&quot;bottom&quot;:&quot;&quot;,&quot;left&quot;:&quot;&quot;,&quot;isLinked&quot;:true},&quot;width_dropdown_item&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;220&quot;,&quot;sizes&quot;:[]},&quot;width_dropdown_item_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;width_dropdown_item_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;padding_horizontal_dropdown_item&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;padding_horizontal_dropdown_item_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;padding_horizontal_dropdown_item_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;padding_vertical_dropdown_item&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:15,&quot;sizes&quot;:[]},&quot;padding_vertical_dropdown_item_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;padding_vertical_dropdown_item_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;distance_from_menu&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;distance_from_menu_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;distance_from_menu_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;toggle_size&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;toggle_size_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;toggle_border_width&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;toggle_border_width_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;toggle_border_width_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;toggle_border_radius&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;toggle_border_radius_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;toggle_border_radius_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"navigation-menu.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t<div class=\"hfe-nav-menu hfe-layout-horizontal hfe-nav-menu-layout horizontal hfe-pointer__none\" data-layout=\"horizontal\">\n\t\t\t\t<div role=\"button\" class=\"hfe-nav-menu__toggle elementor-clickable\">\n\t\t\t\t\t<span class=\"screen-reader-text\">Menu</span>\n\t\t\t\t\t<div class=\"hfe-nav-menu-icon\">\n\t\t\t\t\t\t<i aria-hidden=\"true\"  class=\"icon icon-menu-button-of-three-horizontal-lines\"></i>\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<nav class=\"hfe-nav-menu__layout-horizontal hfe-nav-menu__submenu-arrow\" data-toggle-icon=\"&lt;i aria-hidden=&quot;true&quot; tabindex=&quot;0&quot; class=&quot;icon icon-menu-button-of-three-horizontal-lines&quot;&gt;&lt;/i&gt;\" data-close-icon=\"&lt;i aria-hidden=&quot;true&quot; tabindex=&quot;0&quot; class=&quot;far fa-window-close&quot;&gt;&lt;/i&gt;\" data-full-width=\"yes\"><ul id=\"menu-1-547c4e9\" class=\"hfe-nav-menu\"><li id=\"menu-item-16194\" class=\"menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu\"><a href=\"https://autotic.com.br/inicio/\" class = \"hfe-menu-item\">Home</a></li>\n<li id=\"menu-item-16195\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children parent hfe-has-submenu hfe-creative-menu\"><div class=\"hfe-has-submenu-container\"><a href=\"#\" class = \"hfe-menu-item\">Soluções<span class='hfe-menu-toggle sub-arrow hfe-menu-child-0'><i class='fa'></i></span></a></div>\n<ul class=\"sub-menu\">\n\t<li id=\"menu-item-16196\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/plano-customizado/\" class = \"hfe-sub-menu-item\">VPS</a></li>\n\t<li id=\"menu-item-16197\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/smtp-dedicado-e-ilimitado/\" class = \"hfe-sub-menu-item\">SMTP dedicado e Ilimitado</a></li>\n\t<li id=\"menu-item-24900\" class=\"menu-item menu-item-type-custom menu-item-object-custom stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://uzapi.com.br/\" class = \"hfe-sub-menu-item\">API do WhatsApp</a></li>\n\t<li id=\"menu-item-16199\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/consultoria/\" class = \"hfe-sub-menu-item\">Consultoria</a></li>\n\t<li id=\"menu-item-26759\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/trafego-pago/\" class = \"hfe-sub-menu-item\">Tráfego Pago</a></li>\n</ul>\n</li>\n<li id=\"menu-item-16200\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children parent hfe-has-submenu hfe-creative-menu\"><div class=\"hfe-has-submenu-container\"><a href=\"#\" class = \"hfe-menu-item\">Mautic<span class='hfe-menu-toggle sub-arrow hfe-menu-child-0'><i class='fa'></i></span></a></div>\n<ul class=\"sub-menu\">\n\t<li id=\"menu-item-16201\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/manual-basico-do-mautic/\" class = \"hfe-sub-menu-item\">Ebook &#8211; Mautic</a></li>\n\t<li id=\"menu-item-16202\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/teste-gratis/\" class = \"hfe-sub-menu-item\">Mautic Grátis</a></li>\n\t<li id=\"menu-item-16203\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/planos/\" class = \"hfe-sub-menu-item\">Planos Mautic</a></li>\n\t<li id=\"menu-item-16204\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/integracoes/\" class = \"hfe-sub-menu-item\">Integrações Mautic</a></li>\n</ul>\n</li>\n<li id=\"menu-item-16205\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children parent hfe-has-submenu hfe-creative-menu\"><div class=\"hfe-has-submenu-container\"><a href=\"#\" class = \"hfe-menu-item\">N8N<span class='hfe-menu-toggle sub-arrow hfe-menu-child-0'><i class='fa'></i></span></a></div>\n<ul class=\"sub-menu\">\n\t<li id=\"menu-item-16206\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/plataforma-de-integracoes/\" class = \"hfe-sub-menu-item\">Demonstração N8N</a></li>\n</ul>\n</li>\n<li id=\"menu-item-16207\" class=\"menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu\"><a href=\"https://autotic.com.br/cursos/\" class = \"hfe-menu-item\">Cursos</a></li>\n<li id=\"menu-item-16213\" class=\"menu-item menu-item-type-post_type menu-item-object-page parent hfe-creative-menu\"><a href=\"https://autotic.com.br/blog/\" class = \"hfe-menu-item\">Blog</a></li>\n<li id=\"menu-item-26778\" class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children parent hfe-has-submenu hfe-creative-menu\"><div class=\"hfe-has-submenu-container\"><a href=\"#\" class = \"hfe-menu-item\">Contato<span class='hfe-menu-toggle sub-arrow hfe-menu-child-0'><i class='fa'></i></span></a></div>\n<ul class=\"sub-menu\">\n\t<li id=\"menu-item-16214\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/contato/\" class = \"hfe-sub-menu-item\">Fale Conosco</a></li>\n\t<li id=\"menu-item-16503\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/central-ajuda/\" class = \"hfe-sub-menu-item\">Central de Ajuda</a></li>\n\t<li id=\"menu-item-16504\" class=\"menu-item menu-item-type-post_type menu-item-object-page stm_col_width_default stm_mega_cols_inside_default stm_mega_col_width_banner_default hfe-creative-menu\"><a href=\"https://autotic.com.br/feedback/\" class = \"hfe-sub-menu-item\">Feedback</a></li>\n</ul>\n</li>\n</ul></nav>\n\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t<div class=\"elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-31563670\" data-id=\"31563670\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<div class=\"elementor-element elementor-element-78b9572b elementor-widget__width-auto elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-elementskit-button\" data-id=\"78b9572b\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"elementskit-button.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<div class=\"ekit-wid-con\" >\t\t<div class=\"ekit-btn-wraper\">\n\t\t\t\t\t\t\t<a href=\"https://forms.clickup.com/9007158486/f/8cdwn6p-2007/VNF3XKDWXRUF7PM4OL\" target=\"_blank\" class=\"elementskit-btn  whitespace--normal\" >\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\tSolicitar Suporte\t\t\t\t</a>\n\t\t\t\t\t\t</div>\n        </div>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t</section>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t</header>\n\n\t<div id=\"main\">\n    <div class=\"container\">\n<div class=\"row\"><div class=\"col-lg-9 col-md-9 col-sm-12 col-xs-12\"><div class=\"col_in __padd-right\">\t\t<div id=\"primary\" class=\"content-area\"><main id=\"woo-main\" class=\"site-main\" role=\"main\">\n\t\t\n\t\t\n\t\t\n\t\t\t<div class=\"woocommerce-notices-wrapper\"></div>\t\t<div class=\"woocommerce_before_shop_loop\">\n\t<p class=\"woocommerce-result-count\">\n\tMostrando todos os <strong>3</strong> resultados</p>\n<form class=\"woocommerce-ordering\" method=\"get\">\n\t<select name=\"orderby\" class=\"orderby\" aria-label=\"Pedido da loja\">\n\t\t\t\t\t<option value=\"menu_order\"  selected='selected'>Ordenação padrão</option>\n\t\t\t\t\t<option value=\"popularity\" >Ordenar por popularidade</option>\n\t\t\t\t\t<option value=\"rating\" >Ordenar por média de classificação</option>\n\t\t\t\t\t<option value=\"date\" >Ordenar por mais recente</option>\n\t\t\t\t\t<option value=\"price\" >Ordenar por preço: menor para maior</option>\n\t\t\t\t\t<option value=\"price-desc\" >Ordenar por preço: maior para menor</option>\n\t\t\t</select>\n\t<input type=\"hidden\" name=\"paged\" value=\"1\" />\n\t</form>\n\t\t</div>\n\t\n\t\t\t<ul class=\"products columns-3\">\n\n\t\t\t\t\n\t\t\t\t\t<li class=\"product type-product post-6679 status-publish first instock product_cat-servico product_tag-autenticacao product_tag-configuracao product_tag-e-mail product_tag-smtp has-post-thumbnail sale virtual purchasable product-type-simple\">\n\t<a href=\"https://autotic.com.br/loja/configuracao-do-smtp/\" class=\"woocommerce-LoopProduct-link woocommerce-loop-product__link\">\n\t<span class=\"onsale\">Oferta!</span>\n\t<img width=\"300\" height=\"169\" src=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-300x169.png\" class=\"attachment-woocommerce_thumbnail size-woocommerce_thumbnail\" alt=\"\" decoding=\"async\" srcset=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-300x169.png 300w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-1024x576.png 1024w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-768x432.png 768w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-1536x864.png 1536w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-600x338.png 600w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic.png 1920w\" sizes=\"(max-width: 300px) 100vw, 300px\" /><h2 class=\"woocommerce-loop-product__title\">Configuração do SMTP</h2>\t\t<div class=\"author\">by Autotic</div>\n\t\t<div class=\"star-rating-wr\">\n\t\t<div class=\"eael-star-rating star-rating\"><span style=\"width:0%\">Avaliação <strong class=\"rating\">0</strong> de 5</span></div>\t</div>\n\n\t<span class=\"price\"><del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>229,00</bdi></span></del> <ins><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>149,00</bdi></span></ins></span>\n</a><a rel=\"nofollow\" href=\"?add-to-cart=6679\" data-quantity=\"1\" data-product_id=\"6679\" data-product_sku=\"\" class=\"button product_type_simple add_to_cart_button ajax_add_to_cart icon_right bordered\">Comprar <i class=\"fa fa-chevron-right\"></i></a></li>\n\n\t\t\t\t\n\t\t\t\t\t<li class=\"product type-product post-6671 status-publish instock product_cat-servico product_tag-cron product_tag-instalacao product_tag-mautic product_tag-ssl has-post-thumbnail sale virtual purchasable product-type-simple\">\n\t<a href=\"https://autotic.com.br/loja/instalacao-do-mautic/\" class=\"woocommerce-LoopProduct-link woocommerce-loop-product__link\">\n\t<span class=\"onsale\">Oferta!</span>\n\t<img width=\"300\" height=\"169\" src=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-300x169.png\" class=\"attachment-woocommerce_thumbnail size-woocommerce_thumbnail\" alt=\"\" decoding=\"async\" srcset=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-300x169.png 300w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-1024x576.png 1024w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-768x432.png 768w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-1536x864.png 1536w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-600x338.png 600w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic.png 1920w\" sizes=\"(max-width: 300px) 100vw, 300px\" /><h2 class=\"woocommerce-loop-product__title\">Instalação do Mautic</h2>\t\t<div class=\"author\">by Autotic</div>\n\t\t<div class=\"star-rating-wr\">\n\t\t<div class=\"eael-star-rating star-rating\"><span style=\"width:0%\">Avaliação <strong class=\"rating\">0</strong> de 5</span></div>\t</div>\n\n\t<span class=\"price\"><del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>549,00</bdi></span></del> <ins><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>397,00</bdi></span></ins></span>\n</a><a rel=\"nofollow\" href=\"?add-to-cart=6671\" data-quantity=\"1\" data-product_id=\"6671\" data-product_sku=\"\" class=\"button product_type_simple add_to_cart_button ajax_add_to_cart icon_right bordered\">Comprar <i class=\"fa fa-chevron-right\"></i></a></li>\n\n\t\t\t\t\n\t\t\t\t\t<li class=\"product type-product post-12293 status-publish last instock product_cat-servico product_tag-instalacao product_tag-integracao product_tag-n8n has-post-thumbnail sale shipping-taxable purchasable product-type-simple\">\n\t<a href=\"https://autotic.com.br/loja/instalacao-do-n8n/\" class=\"woocommerce-LoopProduct-link woocommerce-loop-product__link\">\n\t<span class=\"onsale\">Oferta!</span>\n\t<img width=\"300\" height=\"169\" src=\"https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-300x169.png\" class=\"attachment-woocommerce_thumbnail size-woocommerce_thumbnail\" alt=\"Instalação-do-n8n-Autotic\" decoding=\"async\" srcset=\"https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-300x169.png 300w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-1024x576.png 1024w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-768x432.png 768w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-1536x864.png 1536w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-600x338.png 600w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic.png 1920w\" sizes=\"(max-width: 300px) 100vw, 300px\" /><h2 class=\"woocommerce-loop-product__title\">Instalação do n8n</h2>\t\t<div class=\"author\">by Autotic</div>\n\t\t<div class=\"star-rating-wr\">\n\t\t<div class=\"eael-star-rating star-rating\"><span style=\"width:0%\">Avaliação <strong class=\"rating\">0</strong> de 5</span></div>\t</div>\n\n\t<span class=\"price\"><del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>894,00</bdi></span></del> <ins><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>497,00</bdi></span></ins></span>\n</a><a rel=\"nofollow\" href=\"?add-to-cart=12293\" data-quantity=\"1\" data-product_id=\"12293\" data-product_sku=\"\" class=\"button product_type_simple add_to_cart_button ajax_add_to_cart icon_right bordered\">Comprar <i class=\"fa fa-chevron-right\"></i></a></li>\n\n\t\t\t\t\n\t\t\t</ul>\n\n\t\t\t\n\t\t\n\t</main></div></div></div><div class=\"col-lg-3 col-md-3 hidden-sm hidden-xs\">\t\t\t\t<div class=\"sidebar-area default_widgets\">\n\t\t\t\t<aside id=\"woocommerce_widget_cart-2\" class=\"widget woocommerce widget_shopping_cart shop_widgets\"><h5 class=\"widget_title\">Carrinho</h5><div class=\"hide_cart_widget_if_empty\"><div class=\"widget_shopping_cart_content\"></div></div></aside><aside id=\"woocommerce_product_categories-3\" class=\"widget woocommerce widget_product_categories shop_widgets\"><h5 class=\"widget_title\">Categorias de Produto</h5><select  name='product_cat' id='product_cat' class='dropdown_product_cat'>\n\t<option value='' selected='selected'>Selecione uma categoria</option>\n\t<option class=\"level-0\" value=\"plano\">Plano&nbsp;&nbsp;(0)</option>\n\t<option class=\"level-0\" value=\"sem-categoria\">Sem Categoria&nbsp;&nbsp;(0)</option>\n\t<option class=\"level-0\" value=\"servico\">Serviço&nbsp;&nbsp;(3)</option>\n\t<option class=\"level-0\" value=\"template\">Template&nbsp;&nbsp;(0)</option>\n</select>\n</aside><aside id=\"woocommerce_price_filter-3\" class=\"widget woocommerce widget_price_filter shop_widgets\"><h5 class=\"widget_title\">Filtro por preço</h5>\n<form method=\"get\" action=\"https://autotic.com.br/loja/\">\n\t<div class=\"price_slider_wrapper\">\n\t\t<div class=\"price_slider\" style=\"display:none;\"></div>\n\t\t<div class=\"price_slider_amount\" data-step=\"10\">\n\t\t\t<label class=\"screen-reader-text\" for=\"min_price\">Preço mínimo</label>\n\t\t\t<input type=\"text\" id=\"min_price\" name=\"min_price\" value=\"140\" data-min=\"140\" placeholder=\"Preço mínimo\" />\n\t\t\t<label class=\"screen-reader-text\" for=\"max_price\">Preço máximo</label>\n\t\t\t<input type=\"text\" id=\"max_price\" name=\"max_price\" value=\"500\" data-max=\"500\" placeholder=\"Preço máximo\" />\n\t\t\t\t\t\t<button type=\"submit\" class=\"button\">Filtrar</button>\n\t\t\t<div class=\"price_label\" style=\"display:none;\">\n\t\t\t\tPreço: <span class=\"from\"></span> &mdash; <span class=\"to\"></span>\n\t\t\t</div>\n\t\t\t\t\t\t<div class=\"clear\"></div>\n\t\t</div>\n\t</div>\n</form>\n\n</aside><aside id=\"woocommerce_top_rated_products-3\" class=\"widget woocommerce widget_top_rated_products shop_widgets\"><h5 class=\"widget_title\">Produtos com melhores avaliações</h5><ul class=\"product_list_widget\"><li>\n\t\n\t<a href=\"https://autotic.com.br/loja/instalacao-do-mautic/\">\n\t\t<img width=\"300\" height=\"169\" src=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-300x169.png\" class=\"attachment-woocommerce_thumbnail size-woocommerce_thumbnail\" alt=\"\" decoding=\"async\" srcset=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-300x169.png 300w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-1024x576.png 1024w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-768x432.png 768w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-1536x864.png 1536w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic-600x338.png 600w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-Mautic-Autotic.png 1920w\" sizes=\"(max-width: 300px) 100vw, 300px\" />\t\t<span class=\"product-title\">Instalação do Mautic</span>\n\t</a>\n\n\t\t\t<div class=\"eael-star-rating star-rating\"><span style=\"width:0%\">Avaliação <strong class=\"rating\">0</strong> de 5</span></div>\t\n\t<del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>549,00</bdi></span></del> <ins><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>397,00</bdi></span></ins>\n\t</li>\n<li>\n\t\n\t<a href=\"https://autotic.com.br/loja/configuracao-do-smtp/\">\n\t\t<img width=\"300\" height=\"169\" src=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-300x169.png\" class=\"attachment-woocommerce_thumbnail size-woocommerce_thumbnail\" alt=\"\" decoding=\"async\" srcset=\"https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-300x169.png 300w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-1024x576.png 1024w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-768x432.png 768w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-1536x864.png 1536w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic-600x338.png 600w, https://autotic.com.br/wp-content/uploads/2019/11/Instalação-do-SMTP-Autotic.png 1920w\" sizes=\"(max-width: 300px) 100vw, 300px\" />\t\t<span class=\"product-title\">Configuração do SMTP</span>\n\t</a>\n\n\t\t\t<div class=\"eael-star-rating star-rating\"><span style=\"width:0%\">Avaliação <strong class=\"rating\">0</strong> de 5</span></div>\t\n\t<del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>229,00</bdi></span></del> <ins><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>149,00</bdi></span></ins>\n\t</li>\n<li>\n\t\n\t<a href=\"https://autotic.com.br/loja/instalacao-do-n8n/\">\n\t\t<img width=\"300\" height=\"169\" src=\"https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-300x169.png\" class=\"attachment-woocommerce_thumbnail size-woocommerce_thumbnail\" alt=\"Instalação-do-n8n-Autotic\" decoding=\"async\" srcset=\"https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-300x169.png 300w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-1024x576.png 1024w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-768x432.png 768w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-1536x864.png 1536w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic-600x338.png 600w, https://autotic.com.br/wp-content/uploads/2021/09/Instalacao-do-n8n-Autotic.png 1920w\" sizes=\"(max-width: 300px) 100vw, 300px\" />\t\t<span class=\"product-title\">Instalação do n8n</span>\n\t</a>\n\n\t\t\t<div class=\"eael-star-rating star-rating\"><span style=\"width:0%\">Avaliação <strong class=\"rating\">0</strong> de 5</span></div>\t\n\t<del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>894,00</bdi></span></del> <ins><span class=\"woocommerce-Price-amount amount\"><bdi><span class=\"woocommerce-Price-currencySymbol\">&#82;&#36;</span>497,00</bdi></span></ins>\n\t</li>\n</ul></aside><aside id=\"woocommerce_product_tag_cloud-3\" class=\"widget woocommerce widget_product_tag_cloud shop_widgets\"><h5 class=\"widget_title\">Tags de Produtos</h5><div class=\"tagcloud\"><a href=\"https://autotic.com.br/product-tag/autenticacao/\" class=\"tag-cloud-link tag-link-267 tag-link-position-1\" style=\"font-size: 8pt;\" aria-label=\"autenticação (1 produto)\">autenticação</a>\n<a href=\"https://autotic.com.br/product-tag/configuracao/\" class=\"tag-cloud-link tag-link-264 tag-link-position-2\" style=\"font-size: 8pt;\" aria-label=\"configuração (1 produto)\">configuração</a>\n<a href=\"https://autotic.com.br/product-tag/cron/\" class=\"tag-cloud-link tag-link-262 tag-link-position-3\" style=\"font-size: 8pt;\" aria-label=\"cron (1 produto)\">cron</a>\n<a href=\"https://autotic.com.br/product-tag/e-mail/\" class=\"tag-cloud-link tag-link-266 tag-link-position-4\" style=\"font-size: 8pt;\" aria-label=\"e-mail (1 produto)\">e-mail</a>\n<a href=\"https://autotic.com.br/product-tag/instalacao/\" class=\"tag-cloud-link tag-link-260 tag-link-position-5\" style=\"font-size: 22pt;\" aria-label=\"instalação (2 produtos)\">instalação</a>\n<a href=\"https://autotic.com.br/product-tag/integracao/\" class=\"tag-cloud-link tag-link-312 tag-link-position-6\" style=\"font-size: 8pt;\" aria-label=\"integração (1 produto)\">integração</a>\n<a href=\"https://autotic.com.br/product-tag/mautic/\" class=\"tag-cloud-link tag-link-261 tag-link-position-7\" style=\"font-size: 8pt;\" aria-label=\"mautic (1 produto)\">mautic</a>\n<a href=\"https://autotic.com.br/product-tag/n8n/\" class=\"tag-cloud-link tag-link-311 tag-link-position-8\" style=\"font-size: 8pt;\" aria-label=\"n8n (1 produto)\">n8n</a>\n<a href=\"https://autotic.com.br/product-tag/smtp/\" class=\"tag-cloud-link tag-link-265 tag-link-position-9\" style=\"font-size: 8pt;\" aria-label=\"smtp (1 produto)\">smtp</a>\n<a href=\"https://autotic.com.br/product-tag/ssl/\" class=\"tag-cloud-link tag-link-263 tag-link-position-10\" style=\"font-size: 8pt;\" aria-label=\"ssl (1 produto)\">ssl</a></div></aside><aside id=\"custom_html-5\" class=\"widget_text widget widget_custom_html shop_widgets\"><h5 class=\"widget_title\">Anúncios</h5><div class=\"textwidget custom-html-widget\"><p><script async src=\"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js\"></script><br />\n<!-- [Autotic] Blog --><br />\n<ins class=\"adsbygoogle\"\n     style=\"display:block\"\n     data-ad-client=\"ca-pub-4770706480332549\"\n     data-ad-slot=\"4969566200\"\n     data-ad-format=\"auto\"\n     data-full-width-responsive=\"true\"></ins><br />\n<script>\n     (adsbygoogle = window.adsbygoogle || []).push({});\n</script></p>\n</div></aside>\t\t\t</div>\n\t\t</div></div>\n        </div> <!--.container-->\n    </div> <!--#main-->\n</div> <!--.content_wrapper-->\n\t\t<footer itemtype=\"https://schema.org/WPFooter\" itemscope=\"itemscope\" id=\"colophon\" role=\"contentinfo\">\n\t\t\t<div class='footer-width-fixer'>\t\t<div data-elementor-type=\"wp-post\" data-elementor-id=\"16439\" class=\"elementor elementor-16439\" data-elementor-post-type=\"elementor-hf\">\n\t\t\t\t\t\t\t\t\t<section class=\"elementor-section elementor-top-section elementor-element elementor-element-3109aa23 elementor-section-full_width elementor-section-height-default elementor-section-height-default\" data-id=\"3109aa23\" data-element_type=\"section\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;,&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}\">\n\t\t\t\t\t\t<div class=\"elementor-container elementor-column-gap-default\">\n\t\t\t\t\t<div class=\"elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5dbda1a4\" data-id=\"5dbda1a4\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<section class=\"elementor-section elementor-inner-section elementor-element elementor-element-3a162f17 elementor-section-boxed elementor-section-height-default elementor-section-height-default\" data-id=\"3a162f17\" data-element_type=\"section\" data-settings=\"{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}\">\n\t\t\t\t\t\t<div class=\"elementor-container elementor-column-gap-default\">\n\t\t\t\t\t<div class=\"elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-4623fb00\" data-id=\"4623fb00\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<div class=\"elementor-element elementor-element-613a749a elementor-widget elementor-widget-image\" data-id=\"613a749a\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"image.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<img fetchpriority=\"high\" width=\"1000\" height=\"250\" src=\"https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic.png\" class=\"attachment-full size-full wp-image-16360\" alt=\"\" srcset=\"https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic.png 1000w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-300x75.png 300w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-768x192.png 768w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-900x225.png 900w, https://autotic.com.br/wp-content/uploads/2023/10/nova-autotic-600x150.png 600w\" sizes=\"(max-width: 1000px) 100vw, 1000px\" />\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-b485940 elementor-widget elementor-widget-text-editor\" data-id=\"b485940\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"text-editor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t<p>Automatize&#8230; fature&#8230; escale 🚀</p>\n\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-87c0256 elementor-widget elementor-widget-spacer\" data-id=\"87c0256\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"spacer.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-spacer\">\n\t\t\t<div class=\"elementor-spacer-inner\"></div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-6735b406 elementor-widget elementor-widget-elementskit-social-media\" data-id=\"6735b406\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"elementskit-social-media.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<div class=\"ekit-wid-con\" >\t\t\t <ul class=\"ekit_social_media\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class=\"elementor-repeater-item-a17fba3\">\n\t\t\t\t\t    <a\n\t\t\t\t\t\thref=\"https://www.youtube.com/autotic\" target=\"_blank\" aria-label=\"Youtube\" class=\"youtube\" >\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t<i aria-hidden=\"true\" class=\"fab fa-youtube\"></i>\t\t\t\t\t\t\t\t\t\n                                                                                                            </a>\n                    </li>\n                    \t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class=\"elementor-repeater-item-a602d8a\">\n\t\t\t\t\t    <a\n\t\t\t\t\t\thref=\"https://www.instagram.com/autoticbrasil\" target=\"_blank\" aria-label=\"Instagram\" class=\"instagram\" >\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t<i aria-hidden=\"true\" class=\"fab fa-instagram\"></i>\t\t\t\t\t\t\t\t\t\n                                                                                                            </a>\n                    </li>\n                    \t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class=\"elementor-repeater-item-949c1a1\">\n\t\t\t\t\t    <a\n\t\t\t\t\t\thref=\"https://facebook.com/autoticbrasil\" target=\"_blank\" aria-label=\"Facebook\" class=\"facebook\" >\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t<i aria-hidden=\"true\" class=\"icon icon-facebook\"></i>\t\t\t\t\t\t\t\t\t\n                                                                                                            </a>\n                    </li>\n                    \t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class=\"elementor-repeater-item-685f913\">\n\t\t\t\t\t    <a\n\t\t\t\t\t\thref=\"https://www.linkedin.com/company/autotic\" target=\"_blank\" aria-label=\"Linkedin\" class=\"linkedin\" >\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t<i aria-hidden=\"true\" class=\"fab fa-linkedin\"></i>\t\t\t\t\t\t\t\t\t\n                                                                                                            </a>\n                    </li>\n                    \t\t\t\t\t\t\t</ul>\n\t\t</div>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-73fa9cf elementor-widget elementor-widget-spacer\" data-id=\"73fa9cf\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"spacer.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-spacer\">\n\t\t\t<div class=\"elementor-spacer-inner\"></div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-cc1c1f7 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list\" data-id=\"cc1c1f7\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"icon-list.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<ul class=\"elementor-icon-list-items\">\n\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/politica-privacidade/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Política de Privacidade</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/termos-condicoes/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Termos e Condições</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t<div class=\"elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-6f7df28b\" data-id=\"6f7df28b\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<div class=\"elementor-element elementor-element-1d719c53 elementor-widget elementor-widget-elementskit-heading\" data-id=\"1d719c53\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"elementskit-heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<div class=\"ekit-wid-con\" ><div class=\"ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-\"><h3 class=\"ekit-heading--title elementskit-section-title \">Autotic</h3></div></div>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-55c34cd elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list\" data-id=\"55c34cd\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"icon-list.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<ul class=\"elementor-icon-list-items\">\n\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/quem-somos/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Quem somos</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/blog/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Blog</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/loja/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Loja</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/feedback/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Feedback</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/central-ajuda/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Central de Ajuda</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/contato/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Contato</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"https://forms.clickup.com/9007158486/f/8cdwn6p-2007/VNF3XKDWXRUF7PM4OL\" target=\"_blank\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Suporte</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t<div class=\"elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-10e45ef6\" data-id=\"10e45ef6\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<div class=\"elementor-element elementor-element-9f82627 elementor-widget elementor-widget-elementskit-heading\" data-id=\"9f82627\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"elementskit-heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<div class=\"ekit-wid-con\" ><div class=\"ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-\"><h3 class=\"ekit-heading--title elementskit-section-title \">Soluções</h3></div></div>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-6e798122 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list\" data-id=\"6e798122\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"icon-list.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<ul class=\"elementor-icon-list-items\">\n\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/plano-customizado/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">VPS</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/smtp-dedicado-e-ilimitado/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">SMTP dedicado</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/integracoes/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Integrações Mautic</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/plataforma-de-integracoes/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Demonstração N8N</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/api-do-whatsapp/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">API do WhatsApp</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/planos/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Planos Mautic</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/teste-gratis/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Mautic Grátis</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/consultoria/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Consultoria</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/trafego-pago/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Tráfgo Pago</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t<div class=\"elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-49d1c6db\" data-id=\"49d1c6db\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<div class=\"elementor-element elementor-element-7cbdb04 elementor-widget elementor-widget-elementskit-heading\" data-id=\"7cbdb04\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"elementskit-heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<div class=\"ekit-wid-con\" ><div class=\"ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-\"><h3 class=\"ekit-heading--title elementskit-section-title \">Cursos</h3></div></div>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-9cae50a elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list\" data-id=\"9cae50a\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"icon-list.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<ul class=\"elementor-icon-list-items\">\n\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/cursos/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Todos os cursos</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/curso-gratuito-de-n8n/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Curso Gratuito de N8N</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/curso-intensivo-de-n8n/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Intensivo de N8N</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/manual-basico-do-mautic/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\"> Ebook - Mautic</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/automatizando-campanhas-de-e-mail-marketing-com-mautic/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Curso Gratuito de Mautic</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/mautic-o-guia-completo-de-instalacao-e-configuracao-do-zero/\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Configuração do Mautic</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/chatbot-para-captacao-de-leads-usando-n8n-uzapi-e-notion\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Chatbot para captação de leads</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t\t<li class=\"elementor-icon-list-item\">\n\t\t\t\t\t\t\t\t\t\t\t<a href=\"/construindo-um-chatbot-de-whatsapp-com-n8n-e-uzapi\">\n\n\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-icon-list-text\">Chatbot com N8N e Uzapi</span>\n\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t</section>\n\t\t\t\t<section class=\"elementor-section elementor-inner-section elementor-element elementor-element-4585e618 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default\" data-id=\"4585e618\" data-element_type=\"section\" data-settings=\"{&quot;ekit_has_onepagescroll_dot&quot;:&quot;yes&quot;}\">\n\t\t\t\t\t\t<div class=\"elementor-container elementor-column-gap-default\">\n\t\t\t\t\t<div class=\"elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-7ed05461\" data-id=\"7ed05461\" data-element_type=\"column\">\n\t\t\t<div class=\"elementor-widget-wrap elementor-element-populated\">\n\t\t\t\t\t\t\t\t<div class=\"elementor-element elementor-element-1a03017a elementor-widget__width-auto elementor-widget elementor-widget-elementskit-heading\" data-id=\"1a03017a\" data-element_type=\"widget\" data-settings=\"{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}\" data-widget_type=\"elementskit-heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<div class=\"ekit-wid-con\" ><div class=\"ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-text_center\"><p class=\"ekit-heading--title elementskit-section-title \"><span><span>Autotic</span></span> © 2024 - Todos os direitos reservados. CNPJ: 51.516.832/0001-04</p></div></div>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t</section>\n\t\t\t\t\t</div>\n\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t</section>\n\t\t\t\t\t\t\t</div>\n\t\t</div>\t\t</footer>\n\t</div><!-- #page -->\n\r\n\t\t<script>\r\n\t\t\twindow.RS_MODULES = window.RS_MODULES || {};\r\n\t\t\twindow.RS_MODULES.modules = window.RS_MODULES.modules || {};\r\n\t\t\twindow.RS_MODULES.waiting = window.RS_MODULES.waiting || [];\r\n\t\t\twindow.RS_MODULES.defered = true;\r\n\t\t\twindow.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};\r\n\t\t\twindow.RS_MODULES.type = 'compiled';\r\n\t\t</script>\r\n\t\t\n\t  \t<div id=\"fb-root\"></div>\n\t\t<script \n\t\t\tasync defer crossorigin=\"anonymous\" \n\t\t\tsrc=\"https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&amp;appId=1190524001147309&autoLogAppEvents=1\">\n\t\t</script>\n\n\t  \t<!-- Google Tag Manager (noscript) -->\r\n<noscript><iframe src=\"https://www.googletagmanager.com/ns.html?id=GTM-P7JFX3T\"\r\nheight=\"0\" width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\r\n<!-- End Google Tag Manager (noscript) -->\n\t<script type=\"text/javascript\">\n\t\t(function () {\n\t\t\tvar c = document.body.className;\n\t\t\tc = c.replace(/woocommerce-no-js/, 'woocommerce-js');\n\t\t\tdocument.body.className = c;\n\t\t})();\n\t</script>\n\t\n<div class=\"pswp\" tabindex=\"-1\" role=\"dialog\" aria-hidden=\"true\">\n\t<div class=\"pswp__bg\"></div>\n\t<div class=\"pswp__scroll-wrap\">\n\t\t<div class=\"pswp__container\">\n\t\t\t<div class=\"pswp__item\"></div>\n\t\t\t<div class=\"pswp__item\"></div>\n\t\t\t<div class=\"pswp__item\"></div>\n\t\t</div>\n\t\t<div class=\"pswp__ui pswp__ui--hidden\">\n\t\t\t<div class=\"pswp__top-bar\">\n\t\t\t\t<div class=\"pswp__counter\"></div>\n\t\t\t\t<button class=\"pswp__button pswp__button--close\" aria-label=\"Fechar (Esc)\"></button>\n\t\t\t\t<button class=\"pswp__button pswp__button--share\" aria-label=\"Compartilhar\"></button>\n\t\t\t\t<button class=\"pswp__button pswp__button--fs\" aria-label=\"Expandir tela\"></button>\n\t\t\t\t<button class=\"pswp__button pswp__button--zoom\" aria-label=\"Ampliar/reduzir (zoom)\"></button>\n\t\t\t\t<div class=\"pswp__preloader\">\n\t\t\t\t\t<div class=\"pswp__preloader__icn\">\n\t\t\t\t\t\t<div class=\"pswp__preloader__cut\">\n\t\t\t\t\t\t\t<div class=\"pswp__preloader__donut\"></div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"pswp__share-modal pswp__share-modal--hidden pswp__single-tap\">\n\t\t\t\t<div class=\"pswp__share-tooltip\"></div>\n\t\t\t</div>\n\t\t\t<button class=\"pswp__button pswp__button--arrow--left\" aria-label=\"Anterior (seta da esquerda)\"></button>\n\t\t\t<button class=\"pswp__button pswp__button--arrow--right\" aria-label=\"Próximo (seta da direita)\"></button>\n\t\t\t<div class=\"pswp__caption\">\n\t\t\t\t<div class=\"pswp__caption__center\"></div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n</div>\n<script type=\"text/template\" id=\"tmpl-variation-template\">\n    <div class=\"woocommerce-variation-description\">\n        {{{ data.variation.variation_description }}}\n    </div>\n\n    <div class=\"woocommerce-variation-price\">\n        {{{ data.variation.price_html }}}\n    </div>\n\n    <div class=\"woocommerce-variation-availability\">\n        {{{ data.variation.availability_html }}}\n    </div>\n</script>\n<script type=\"text/template\" id=\"tmpl-unavailable-variation-template\">\n    <p>Sorry, this product is unavailable. Please choose a different combination.</p>\n</script>\n<link rel='stylesheet' id='elementskit-reset-button-for-pro-form-css-css' href='https://autotic.com.br/wp-content/plugins/elementskit/modules/pro-form-reset-button/assets/css/elementskit-reset-button.css?ver=3.3.0' type='text/css' media='all' />\n<link rel='stylesheet' id='ekit-particles-css' href='https://autotic.com.br/wp-content/plugins/elementskit/modules/particles/assets/css/particles.css?ver=3.3.0' type='text/css' media='all' />\n<link rel='stylesheet' id='rs-plugin-settings-css' href='https://autotic.com.br/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.6.12' type='text/css' media='all' />\n<style id='rs-plugin-settings-inline-css' type='text/css'>\n#rs-demo-id {}\n</style>\n<link rel='stylesheet' id='photoswipe-css' href='https://autotic.com.br/wp-content/plugins/woocommerce/assets/css/photoswipe/photoswipe.min.css?ver=8.4.0' type='text/css' media='all' />\n<link rel='stylesheet' id='photoswipe-default-skin-css' href='https://autotic.com.br/wp-content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.min.css?ver=8.4.0' type='text/css' media='all' />\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/stm-post-type/theme-options/nuxy/metaboxes/assets/vendors/trumbowyg/strumbowyg.js?ver=6.5.5\" id=\"strumbowyg-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/stm-post-type/theme-options/nuxy/metaboxes/assets/vendors/trumbowyg/vtrumbowyg.js?ver=6.5.5\" id=\"vtrumbowyg-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/stm-post-type/theme-options/nuxy/metaboxes/assets/vendors/trumbowyg/color-trumbowyg.js?ver=6.5.5\" id=\"color-trumbowyg-js\"></script>\n<script type=\"text/javascript\" id=\"chaty-front-end-js-extra\">\n/* <![CDATA[ */\nvar chaty_settings = {\"ajax_url\":\"https:\\/\\/autotic.com.br\\/wp-admin\\/admin-ajax.php\",\"analytics\":\"0\",\"capture_analytics\":\"0\",\"token\":\"af22479f33\",\"lang\":{\"whatsapp_label\":\"WhatsApp Message\",\"hide_whatsapp_form\":\"Hide WhatsApp Form\"},\"chaty_widgets\":[{\"id\":0,\"identifier\":0,\"settings\":{\"cta_type\":\"simple-view\",\"cta_body\":\"\",\"cta_head\":\"\",\"cta_head_bg_color\":\"\",\"cta_head_text_color\":\"\",\"show_close_button\":1,\"position\":\"right\",\"custom_position\":1,\"bottom_spacing\":\"25\",\"side_spacing\":\"25\",\"icon_view\":\"vertical\",\"default_state\":\"click\",\"cta_text\":\"\",\"cta_text_color\":\"#333333\",\"cta_bg_color\":\"#ffffff\",\"show_cta\":\"first_click\",\"is_pending_mesg_enabled\":\"off\",\"pending_mesg_count\":\"1\",\"pending_mesg_count_color\":\"#ffffff\",\"pending_mesg_count_bgcolor\":\"#dd0000\",\"widget_icon\":\"chat-base\",\"widget_icon_url\":\"\",\"font_family\":\"\",\"widget_size\":\"44\",\"custom_widget_size\":\"44\",\"is_google_analytics_enabled\":0,\"close_text\":\"Hide\",\"widget_color\":\"#A886CD\",\"widget_rgb_color\":\"168,134,205\",\"has_custom_css\":0,\"custom_css\":\"\",\"widget_token\":\"789d0c51dc\",\"widget_index\":\"\",\"attention_effect\":\"pulse-icon\"},\"triggers\":{\"has_time_delay\":1,\"time_delay\":\"0\",\"exit_intent\":0,\"has_display_after_page_scroll\":0,\"display_after_page_scroll\":\"0\",\"auto_hide_widget\":0,\"hide_after\":0,\"show_on_pages_rules\":[],\"time_diff\":0,\"has_date_scheduling_rules\":0,\"date_scheduling_rules\":{\"start_date_time\":\"\",\"end_date_time\":\"\"},\"date_scheduling_rules_timezone\":0,\"day_hours_scheduling_rules_timezone\":0,\"has_day_hours_scheduling_rules\":[],\"day_hours_scheduling_rules\":[],\"day_time_diff\":0,\"show_on_direct_visit\":0,\"show_on_referrer_social_network\":0,\"show_on_referrer_search_engines\":0,\"show_on_referrer_google_ads\":0,\"show_on_referrer_urls\":[],\"has_show_on_specific_referrer_urls\":0,\"has_traffic_source\":0,\"has_countries\":0,\"countries\":[],\"has_target_rules\":0},\"channels\":[{\"channel\":\"Whatsapp\",\"value\":\"5521989848442\",\"hover_text\":\"Fale Conosco\",\"svg_icon\":\"<svg width=\\\"39\\\" height=\\\"39\\\" viewBox=\\\"0 0 39 39\\\" fill=\\\"none\\\" xmlns=\\\"http:\\/\\/www.w3.org\\/2000\\/svg\\\"><circle class=\\\"color-element\\\" cx=\\\"19.4395\\\" cy=\\\"19.4395\\\" r=\\\"19.4395\\\" fill=\\\"#49E670\\\"\\/><path d=\\\"M12.9821 10.1115C12.7029 10.7767 11.5862 11.442 10.7486 11.575C10.1902 11.7081 9.35269 11.8411 6.84003 10.7767C3.48981 9.44628 1.39593 6.25317 1.25634 6.12012C1.11674 5.85403 2.13001e-06 4.39053 2.13001e-06 2.92702C2.13001e-06 1.46351 0.83755 0.665231 1.11673 0.399139C1.39592 0.133046 1.8147 1.01506e-06 2.23348 1.01506e-06C2.37307 1.01506e-06 2.51267 1.01506e-06 2.65226 1.01506e-06C2.93144 1.01506e-06 3.21063 -2.02219e-06 3.35022 0.532183C3.62941 1.19741 4.32736 2.66092 4.32736 2.79397C4.46696 2.92702 4.46696 3.19311 4.32736 3.32616C4.18777 3.59225 4.18777 3.59224 3.90858 3.85834C3.76899 3.99138 3.6294 4.12443 3.48981 4.39052C3.35022 4.52357 3.21063 4.78966 3.35022 5.05576C3.48981 5.32185 4.18777 6.38622 5.16491 7.18449C6.42125 8.24886 7.39839 8.51496 7.81717 8.78105C8.09636 8.91409 8.37554 8.9141 8.65472 8.648C8.93391 8.38191 9.21309 7.98277 9.49228 7.58363C9.77146 7.31754 10.0507 7.1845 10.3298 7.31754C10.609 7.45059 12.2841 8.11582 12.5633 8.38191C12.8425 8.51496 13.1217 8.648 13.1217 8.78105C13.1217 8.78105 13.1217 9.44628 12.9821 10.1115Z\\\" transform=\\\"translate(12.9597 12.9597)\\\" fill=\\\"#FAFAFA\\\"\\/><path d=\\\"M0.196998 23.295L0.131434 23.4862L0.323216 23.4223L5.52771 21.6875C7.4273 22.8471 9.47325 23.4274 11.6637 23.4274C18.134 23.4274 23.4274 18.134 23.4274 11.6637C23.4274 5.19344 18.134 -0.1 11.6637 -0.1C5.19344 -0.1 -0.1 5.19344 -0.1 11.6637C-0.1 13.9996 0.624492 16.3352 1.93021 18.2398L0.196998 23.295ZM5.87658 19.8847L5.84025 19.8665L5.80154 19.8788L2.78138 20.8398L3.73978 17.9646L3.75932 17.906L3.71562 17.8623L3.43104 17.5777C2.27704 15.8437 1.55796 13.8245 1.55796 11.6637C1.55796 6.03288 6.03288 1.55796 11.6637 1.55796C17.2945 1.55796 21.7695 6.03288 21.7695 11.6637C21.7695 17.2945 17.2945 21.7695 11.6637 21.7695C9.64222 21.7695 7.76778 21.1921 6.18227 20.039L6.17557 20.0342L6.16817 20.0305L5.87658 19.8847Z\\\" transform=\\\"translate(7.7758 7.77582)\\\" fill=\\\"white\\\" stroke=\\\"white\\\" stroke-width=\\\"0.2\\\"\\/><\\/svg>\",\"is_desktop\":1,\"is_mobile\":1,\"icon_color\":\"#49E670\",\"icon_rgb_color\":\"73,230,112\",\"channel_type\":\"Whatsapp\",\"custom_image_url\":\"\",\"order\":\"\",\"pre_set_message\":\"\",\"is_use_web_version\":\"0\",\"is_open_new_tab\":\"1\",\"is_default_open\":\"0\",\"has_welcome_message\":\"1\",\"chat_welcome_message\":\"<p>Em que podemos ajudar?<\\/p>\",\"qr_code_image_url\":\"\",\"mail_subject\":\"\",\"channel_account_type\":\"personal\",\"contact_form_settings\":[],\"contact_fields\":[],\"url\":\"https:\\/\\/wa.me\\/5521989848442\",\"mobile_target\":\"\",\"desktop_target\":\"\",\"target\":\"\",\"is_agent\":0,\"agent_data\":[],\"header_text\":\"\",\"header_sub_text\":\"\",\"header_bg_color\":\"\",\"header_text_color\":\"\",\"widget_token\":\"789d0c51dc\",\"widget_index\":\"\",\"click_event\":\"\"}]}],\"data_analytics_settings\":\"off\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/chaty/js/cht-front-script.min.js?ver=3.1.81707002398\" id=\"chaty-front-end-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/contact-form-7/includes/swv/js/index.js?ver=5.8.5\" id=\"swv-js\"></script>\n<script type=\"text/javascript\" id=\"contact-form-7-js-extra\">\n/* <![CDATA[ */\nvar wpcf7 = {\"api\":{\"root\":\"https:\\/\\/autotic.com.br\\/wp-json\\/\",\"namespace\":\"contact-form-7\\/v1\"},\"cached\":\"1\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.8.5\" id=\"contact-form-7-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/mask-form-elementor/js/jquery.mask.min.js?ver=1.0\" id=\"jquery.mask.min.js-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/mask-form-elementor/js/maskformelementor.js?ver=1.0\" id=\"maskformelementor.js-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.6.12\" defer async id=\"tp-tools-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.6.12\" defer async id=\"revmin-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woo-asaas/assets/woo-asaas.js?ver=2.2.0\" id=\"woo-asaas-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/themes/consulting/assets/js/bootstrap.min.js?ver=6.5.4\" id=\"bootstrap-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/select2/select2.full.min.js?ver=4.0.3-wc.8.4.0\" id=\"select2-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/themes/consulting/assets/js/custom.js?ver=6.5.4\" id=\"consulting-custom-js\"></script>\n<script type=\"text/javascript\" id=\"stm-hfe-js-extra\">\n/* <![CDATA[ */\nvar consulting_ehf_position_16187 = {\"id\":\"16187\",\"header_view\":\"\",\"header_position\":\"relative\"};\nvar consulting_ehf_position_16439 = {\"id\":\"16439\",\"header_view\":\"\",\"header_position\":\"relative\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/themes/consulting/assets/js/stm-hfe.js?ver=6.5.4\" id=\"stm-hfe-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit-lite/libs/framework/assets/js/frontend-script.js?ver=3.0.4\" id=\"elementskit-framework-js-frontend-js\"></script>\n<script type=\"text/javascript\" id=\"elementskit-framework-js-frontend-js-after\">\n/* <![CDATA[ */\n\t\tvar elementskit = {\n\t\t\tresturl: 'https://autotic.com.br/wp-json/elementskit/v1/',\n\t\t}\n\n\t\t\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit-lite/widgets/init/assets/js/widget-scripts.js?ver=3.0.4\" id=\"ekit-widget-scripts-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit/modules/parallax/assets/js/anime.js?ver=3.3.0\" id=\"animejs-js\"></script>\n<script defer type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit/modules/parallax/assets/js/parallax-frontend-scripts.js?ver=3.3.0\" id=\"elementskit-parallax-frontend-defer-js\"></script>\n<script type=\"text/javascript\" src=\"https://www.google.com/recaptcha/api.js?render=6LfmcmUbAAAAAApnjRskTDl4q-1OSuS1h9qq3WZi&amp;ver=3.0\" id=\"google-recaptcha-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/dist/vendor/wp-polyfill-inert.min.js?ver=3.1.2\" id=\"wp-polyfill-inert-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.14.0\" id=\"regenerator-runtime-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0\" id=\"wp-polyfill-js\"></script>\n<script type=\"text/javascript\" id=\"wpcf7-recaptcha-js-extra\">\n/* <![CDATA[ */\nvar wpcf7_recaptcha = {\"sitekey\":\"6LfmcmUbAAAAAApnjRskTDl4q-1OSuS1h9qq3WZi\",\"actions\":{\"homepage\":\"homepage\",\"contactform\":\"contactform\"}};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/contact-form-7/modules/recaptcha/index.js?ver=5.8.5\" id=\"wpcf7-recaptcha-js\"></script>\n<script type=\"text/javascript\" id=\"eael-general-js-extra\">\n/* <![CDATA[ */\nvar localize = {\"ajaxurl\":\"https:\\/\\/autotic.com.br\\/wp-admin\\/admin-ajax.php\",\"nonce\":\"a4a2670f55\",\"i18n\":{\"added\":\"Adicionado \",\"compare\":\"Comparar\",\"loading\":\"Carregando...\"},\"eael_translate_text\":{\"required_text\":\"\\u00e9 um campo obrigat\\u00f3rio\",\"invalid_text\":\"Inv\\u00e1lido\",\"billing_text\":\"Faturamento\",\"shipping_text\":\"Envio\",\"fg_mfp_counter_text\":\"de\"},\"page_permalink\":\"https:\\/\\/autotic.com.br\\/loja\\/configuracao-do-smtp\\/\",\"cart_redirectition\":\"yes\",\"cart_page_url\":\"https:\\/\\/autotic.com.br\\/loja\\/carrinho\\/\",\"el_breakpoints\":{\"mobile\":{\"label\":\"Retrato em dispositivos m\\u00f3veis\",\"value\":767,\"default_value\":767,\"direction\":\"max\",\"is_enabled\":true},\"mobile_extra\":{\"label\":\"Paisagem em dispositivos m\\u00f3veis\",\"value\":880,\"default_value\":880,\"direction\":\"max\",\"is_enabled\":false},\"tablet\":{\"label\":\"Retrato em tablet\",\"value\":1024,\"default_value\":1024,\"direction\":\"max\",\"is_enabled\":true},\"tablet_extra\":{\"label\":\"Paisagem em tablet\",\"value\":1200,\"default_value\":1200,\"direction\":\"max\",\"is_enabled\":false},\"laptop\":{\"label\":\"Notebook\",\"value\":1366,\"default_value\":1366,\"direction\":\"max\",\"is_enabled\":false},\"widescreen\":{\"label\":\"Tela ampla (widescreen)\",\"value\":2400,\"default_value\":2400,\"direction\":\"min\",\"is_enabled\":false}}};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/essential-addons-for-elementor-lite/assets/front-end/js/view/general.min.js?ver=5.9.3\" id=\"eael-general-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/header-footer-elementor/inc/js/frontend.js?ver=1.6.22\" id=\"hfe-frontend-js-js\"></script>\n<script type=\"text/javascript\" id=\"wc-cart-fragments-js-extra\">\n/* <![CDATA[ */\nvar wc_cart_fragments_params = {\"ajax_url\":\"\\/wp-admin\\/admin-ajax.php\",\"wc_ajax_url\":\"\\/?wc-ajax=%%endpoint%%\",\"cart_hash_key\":\"wc_cart_hash_1378cb04888bf8c6c936bc96b21d5d5a\",\"fragment_name\":\"wc_fragments_1378cb04888bf8c6c936bc96b21d5d5a\",\"request_timeout\":\"5000\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=8.4.0\" id=\"wc-cart-fragments-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/selectWoo/selectWoo.full.min.js?ver=1.0.9-wc.8.4.0\" id=\"selectWoo-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/jquery/ui/core.min.js?ver=1.13.2\" id=\"jquery-ui-core-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/jquery/ui/mouse.min.js?ver=1.13.2\" id=\"jquery-ui-mouse-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/jquery/ui/slider.min.js?ver=1.13.2\" id=\"jquery-ui-slider-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min.js?ver=8.4.0\" id=\"wc-jquery-ui-touchpunch-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/accounting/accounting.min.js?ver=0.4.2\" id=\"accounting-js\"></script>\n<script type=\"text/javascript\" id=\"wc-price-slider-js-extra\">\n/* <![CDATA[ */\nvar woocommerce_price_slider_params = {\"currency_format_num_decimals\":\"0\",\"currency_format_symbol\":\"R$\",\"currency_format_decimal_sep\":\",\",\"currency_format_thousand_sep\":\".\",\"currency_format\":\"%s%v\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/frontend/price-slider.min.js?ver=8.4.0\" id=\"wc-price-slider-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementor-pro/assets/js/webpack-pro.runtime.min.js?ver=3.15.0\" id=\"elementor-pro-webpack-runtime-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.18.3\" id=\"elementor-webpack-runtime-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.18.3\" id=\"elementor-frontend-modules-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/dist/hooks.min.js?ver=2810c76e705dd1a53b18\" id=\"wp-hooks-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/dist/i18n.min.js?ver=5e580eb46a90c2b997e6\" id=\"wp-i18n-js\"></script>\n<script type=\"text/javascript\" id=\"wp-i18n-js-after\">\n/* <![CDATA[ */\nwp.i18n.setLocaleData( { 'text direction\\u0004ltr': [ 'ltr' ] } );\n/* ]]> */\n</script>\n<script type=\"text/javascript\" id=\"elementor-pro-frontend-js-before\">\n/* <![CDATA[ */\nvar ElementorProFrontendConfig = {\"ajaxurl\":\"https:\\/\\/autotic.com.br\\/wp-admin\\/admin-ajax.php\",\"nonce\":\"673843063c\",\"urls\":{\"assets\":\"https:\\/\\/autotic.com.br\\/wp-content\\/plugins\\/elementor-pro\\/assets\\/\",\"rest\":\"https:\\/\\/autotic.com.br\\/wp-json\\/\"},\"shareButtonsNetworks\":{\"facebook\":{\"title\":\"Facebook\",\"has_counter\":true},\"twitter\":{\"title\":\"Twitter\"},\"linkedin\":{\"title\":\"LinkedIn\",\"has_counter\":true},\"pinterest\":{\"title\":\"Pinterest\",\"has_counter\":true},\"reddit\":{\"title\":\"Reddit\",\"has_counter\":true},\"vk\":{\"title\":\"VK\",\"has_counter\":true},\"odnoklassniki\":{\"title\":\"OK\",\"has_counter\":true},\"tumblr\":{\"title\":\"Tumblr\"},\"digg\":{\"title\":\"Digg\"},\"skype\":{\"title\":\"Skype\"},\"stumbleupon\":{\"title\":\"StumbleUpon\",\"has_counter\":true},\"mix\":{\"title\":\"Mix\"},\"telegram\":{\"title\":\"Telegram\"},\"pocket\":{\"title\":\"Pocket\",\"has_counter\":true},\"xing\":{\"title\":\"XING\",\"has_counter\":true},\"whatsapp\":{\"title\":\"WhatsApp\"},\"email\":{\"title\":\"Email\"},\"print\":{\"title\":\"Print\"}},\"woocommerce\":{\"menu_cart\":{\"cart_page_url\":\"https:\\/\\/autotic.com.br\\/loja\\/carrinho\\/\",\"checkout_page_url\":\"https:\\/\\/autotic.com.br\\/loja\\/finalizar-compra\\/\",\"fragments_nonce\":\"29bdf08e81\"}},\"facebook_sdk\":{\"lang\":\"pt_BR\",\"app_id\":\"\"},\"lottie\":{\"defaultAnimationUrl\":\"https:\\/\\/autotic.com.br\\/wp-content\\/plugins\\/elementor-pro\\/modules\\/lottie\\/assets\\/animations\\/default.json\"}};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementor-pro/assets/js/frontend.min.js?ver=3.15.0\" id=\"elementor-pro-frontend-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2\" id=\"elementor-waypoints-js\"></script>\n<script type=\"text/javascript\" id=\"elementor-frontend-js-before\">\n/* <![CDATA[ */\nvar elementorFrontendConfig = {\"environmentMode\":{\"edit\":false,\"wpPreview\":false,\"isScriptDebug\":false},\"i18n\":{\"shareOnFacebook\":\"Compartilhar no Facebook\",\"shareOnTwitter\":\"Compartilhar no Twitter\",\"pinIt\":\"Fixar\",\"download\":\"Baixar\",\"downloadImage\":\"Baixar imagem\",\"fullscreen\":\"Tela cheia\",\"zoom\":\"Zoom\",\"share\":\"Compartilhar\",\"playVideo\":\"Reproduzir v\\u00eddeo\",\"previous\":\"Anterior\",\"next\":\"Pr\\u00f3ximo\",\"close\":\"Fechar\",\"a11yCarouselWrapperAriaLabel\":\"Carrossel | Rolagem horizontal: Setas para esquerda e direita\",\"a11yCarouselPrevSlideMessage\":\"Slide anterior\",\"a11yCarouselNextSlideMessage\":\"Pr\\u00f3ximo slide\",\"a11yCarouselFirstSlideMessage\":\"Este \\u00e9 o primeiro slide\",\"a11yCarouselLastSlideMessage\":\"Este \\u00e9 o \\u00faltimo slide\",\"a11yCarouselPaginationBulletMessage\":\"Ir para o slide\"},\"is_rtl\":false,\"breakpoints\":{\"xs\":0,\"sm\":480,\"md\":768,\"lg\":1025,\"xl\":1440,\"xxl\":1600},\"responsive\":{\"breakpoints\":{\"mobile\":{\"label\":\"Retrato em dispositivos m\\u00f3veis\",\"value\":767,\"default_value\":767,\"direction\":\"max\",\"is_enabled\":true},\"mobile_extra\":{\"label\":\"Paisagem em dispositivos m\\u00f3veis\",\"value\":880,\"default_value\":880,\"direction\":\"max\",\"is_enabled\":false},\"tablet\":{\"label\":\"Retrato em tablet\",\"value\":1024,\"default_value\":1024,\"direction\":\"max\",\"is_enabled\":true},\"tablet_extra\":{\"label\":\"Paisagem em tablet\",\"value\":1200,\"default_value\":1200,\"direction\":\"max\",\"is_enabled\":false},\"laptop\":{\"label\":\"Notebook\",\"value\":1366,\"default_value\":1366,\"direction\":\"max\",\"is_enabled\":false},\"widescreen\":{\"label\":\"Tela ampla (widescreen)\",\"value\":2400,\"default_value\":2400,\"direction\":\"min\",\"is_enabled\":false}}},\"version\":\"3.18.3\",\"is_static\":false,\"experimentalFeatures\":{\"e_dom_optimization\":true,\"e_optimized_assets_loading\":true,\"additional_custom_breakpoints\":true,\"theme_builder_v2\":true,\"block_editor_assets_optimize\":true,\"landing-pages\":true,\"e_image_loading_optimization\":true,\"e_global_styleguide\":true,\"page-transitions\":true,\"notes\":true,\"loop\":true,\"form-submissions\":true,\"e_scroll_snap\":true},\"urls\":{\"assets\":\"https:\\/\\/autotic.com.br\\/wp-content\\/plugins\\/elementor\\/assets\\/\"},\"swiperClass\":\"swiper-container\",\"settings\":{\"editorPreferences\":[]},\"kit\":{\"active_breakpoints\":[\"viewport_mobile\",\"viewport_tablet\"],\"global_image_lightbox\":\"yes\",\"lightbox_enable_counter\":\"yes\",\"lightbox_enable_fullscreen\":\"yes\",\"lightbox_enable_zoom\":\"yes\",\"lightbox_enable_share\":\"yes\",\"lightbox_title_src\":\"title\",\"lightbox_description_src\":\"description\",\"woocommerce_notices_elements\":[]},\"post\":{\"id\":0,\"title\":\"Loja - Autotic\",\"excerpt\":\"<p>\\u00c9 aqui que voc\\u00ea pode procurar produtos nesta loja.<\\/p>\\n\"}};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.18.3\" id=\"elementor-frontend-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementor-pro/assets/js/elements-handlers.min.js?ver=3.15.0\" id=\"pro-elements-handlers-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit-lite/widgets/init/assets/js/animate-circle.min.js?ver=3.0.4\" id=\"animate-circle-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit-lite/widgets/init/assets/js/elementor.js?ver=3.0.4\" id=\"elementskit-elementor-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit/widgets/init/assets/js/elementor.js?ver=3.3.0\" id=\"elementskit-elementor-pro-js\"></script>\n<script defer type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit/modules/sticky-content/assets/js/elementskit-sticky-content.js?ver=3.3.0\" id=\"elementskit-sticky-content-script-init-defer-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit/modules/pro-form-reset-button/assets/js/elementskit-reset-button.js?ver=3.3.0\" id=\"elementskit-reset-button-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/themes/consulting/assets/js/particles.min.js?ver=6.5.4\" id=\"particles-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit/modules/particles/assets/js/ekit-particles.js?ver=3.3.0\" id=\"ekit-particles-js\"></script>\n<script defer type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/elementskit/modules/parallax/assets/js/parallax-admin-scripts.js?ver=3.3.0\" id=\"elementskit-parallax-admin-defer-js\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/zoom/jquery.zoom.min.js?ver=1.7.21-wc.8.4.0\" id=\"zoom-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js?ver=4.1.1-wc.8.4.0\" id=\"photoswipe-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min.js?ver=4.1.1-wc.8.4.0\" id=\"photoswipe-ui-default-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/underscore.min.js?ver=1.13.4\" id=\"underscore-js\"></script>\n<script type=\"text/javascript\" id=\"wp-util-js-extra\">\n/* <![CDATA[ */\nvar _wpUtilSettings = {\"ajax\":{\"url\":\"\\/wp-admin\\/admin-ajax.php\"}};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-includes/js/wp-util.min.js?ver=6.5.5\" id=\"wp-util-js\"></script>\n<script type=\"text/javascript\" id=\"wc-add-to-cart-variation-js-extra\">\n/* <![CDATA[ */\nvar wc_add_to_cart_variation_params = {\"wc_ajax_url\":\"\\/?wc-ajax=%%endpoint%%\",\"i18n_no_matching_variations_text\":\"Desculpe, nenhum produto atende sua sele\\u00e7\\u00e3o. Escolha uma combina\\u00e7\\u00e3o diferente.\",\"i18n_make_a_selection_text\":\"Selecione uma das op\\u00e7\\u00f5es do produto antes de adicion\\u00e1-lo ao carrinho.\",\"i18n_unavailable_text\":\"Desculpe, este produto n\\u00e3o est\\u00e1 dispon\\u00edvel. Escolha uma combina\\u00e7\\u00e3o diferente.\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js?ver=8.4.0\" id=\"wc-add-to-cart-variation-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<script type=\"text/javascript\" id=\"wc-single-product-js-extra\">\n/* <![CDATA[ */\nvar wc_single_product_params = {\"i18n_required_rating_text\":\"Selecione uma classifica\\u00e7\\u00e3o\",\"review_rating_required\":\"yes\",\"flexslider\":{\"rtl\":false,\"animation\":\"slide\",\"smoothHeight\":true,\"directionNav\":false,\"controlNav\":\"thumbnails\",\"slideshow\":false,\"animationSpeed\":500,\"animationLoop\":false,\"allowOneSlide\":false},\"zoom_enabled\":\"1\",\"zoom_options\":[],\"photoswipe_enabled\":\"1\",\"photoswipe_options\":{\"shareEl\":false,\"closeOnScroll\":false,\"history\":false,\"hideAnimationDuration\":0,\"showAnimationDuration\":0},\"flexslider_enabled\":\"\"};\n/* ]]> */\n</script>\n<script type=\"text/javascript\" src=\"https://autotic.com.br/wp-content/plugins/woocommerce/assets/js/frontend/single-product.min.js?ver=8.4.0\" id=\"wc-single-product-js\" defer=\"defer\" data-wp-strategy=\"defer\"></script>\n<!-- WooCommerce JavaScript -->\n<script type=\"text/javascript\">\njQuery(function($) { \n\n\t\t\t\tjQuery( '.dropdown_product_cat' ).on( 'change', function() {\n\t\t\t\t\tif ( jQuery(this).val() != '' ) {\n\t\t\t\t\t\tvar this_page = '';\n\t\t\t\t\t\tvar home_url  = 'https://autotic.com.br/';\n\t\t\t\t\t\tif ( home_url.indexOf( '?' ) > 0 ) {\n\t\t\t\t\t\t\tthis_page = home_url + '&product_cat=' + jQuery(this).val();\n\t\t\t\t\t\t} else {\n\t\t\t\t\t\t\tthis_page = home_url + '?product_cat=' + jQuery(this).val();\n\t\t\t\t\t\t}\n\t\t\t\t\t\tlocation.href = this_page;\n\t\t\t\t\t} else {\n\t\t\t\t\t\tlocation.href = 'https://autotic.com.br/loja/';\n\t\t\t\t\t}\n\t\t\t\t});\n\n\t\t\t\tif ( jQuery().selectWoo ) {\n\t\t\t\t\tvar wc_product_cat_select = function() {\n\t\t\t\t\t\tjQuery( '.dropdown_product_cat' ).selectWoo( {\n\t\t\t\t\t\t\tplaceholder: 'Selecione uma categoria',\n\t\t\t\t\t\t\tminimumResultsForSearch: 5,\n\t\t\t\t\t\t\twidth: '100%',\n\t\t\t\t\t\t\tallowClear: true,\n\t\t\t\t\t\t\tlanguage: {\n\t\t\t\t\t\t\t\tnoResults: function() {\n\t\t\t\t\t\t\t\t\treturn 'Nenhuma combinação foi encontrada';\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t} );\n\t\t\t\t\t};\n\t\t\t\t\twc_product_cat_select();\n\t\t\t\t}\n\t\t\t\n });\n</script>\n</body>\n</html> \n\n<!-- Cached by WP Optimize (gzip) - https://getwpo.com - Last modified: Wed, 26 Jun 2024 00:48:19 GMT -->\n"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "obtém html da pagina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtém html da pagina": {
      "main": [
        [
          {
            "node": "Extrai elementos do HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai elementos do HTML": {
      "main": [
        [
          {
            "node": "Gera lista de itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera lista de itens": {
      "main": [
        [
          {
            "node": "Limitando  a lista de itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limitando  a lista de itens": {
      "main": [
        [
          {
            "node": "Gera imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera imagem": {
      "main": [
        [
          {
            "node": "Gera tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera tabela": {
      "main": [
        [
          {
            "node": "Gera o html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e3a2b186-d8d6-4f21-abc3-22d0983b1178",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fcb595c7202e564f0e43feef87f631764619a9e509351c24ddd7994ac97a7d6"
  },
  "id": "e3AC5rDn2w08NmJv",
  "tags": []
}